{
  "openapi": "3.1.0",
  "info": {
    "title": "Wavix APIs",
    "description": "Wavix provides robust APIs that let you integrate voice and text messaging features directly into your app. Send text, place calls, and access detailed reports  programmatically.",
    "termsOfService": "https://wavix.com/terms-and-conditions",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "contact": {
      "name": "Wavix",
      "url": "https://wavix.com",
      "email": "support@wavix.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.wavix.com",
      "description": "https://api.wavix.com",
      "variables": {}
    }
  ],
  "security": [
    {
      "appid": []
    }
  ],
  "tags": [
    {
      "name": "SIP trunks",
      "description": "SIP trunks"
    },
    {
      "name": "Buy",
      "description": "Numbers"
    },
    {
      "name": "Cart",
      "description": "Numbers"
    },
    {
      "name": "My numbers",
      "description": "Numbers"
    },
    {
      "name": "Billing",
      "description": "Billing, transactions, and invoices"
    },
    {
      "name": "Profile",
      "description": "Account profile and customer information"
    },
    {
      "name": "CDRs",
      "description": "Call detail records and call history"
    },
    {
      "name": "Speech Analytics",
      "description": "Call transcription and speech analytics"
    },
    {
      "name": "SMS and MMS",
      "description": "Messaging"
    },
    {
      "name": "Number Validator",
      "description": "Phone number validation"
    },
    {
      "name": "Link shortener",
      "description": "Short link and click metrics"
    },
    {
      "name": "2FA",
      "description": "Two-factor authentication"
    },
    {
      "name": "10DLC",
      "description": "10DLC Campaigns and Brands"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    },
    {
      "name": "Call webhooks",
      "description": "Webhook configuration for call events"
    },
    {
      "name": "Call control",
      "description": "Programmable Voice"
    },
    {
      "name": "Call streaming",
      "description": "Real-time call audio streaming over WebSocket"
    },
    {
      "name": "Call recording",
      "description": "Call recording"
    },
    {
      "name": "Sub-accounts",
      "description": "Sub-account management"
    },
    {
      "name": "Voice campaigns",
      "description": "Outbound voice campaigns"
    },
    {
      "name": "Wavix Embeddable",
      "description": "WebRTC embeddable widget"
    }
  ],
  "paths": {
    "/v1/api-keys": {
      "get": {
        "operationId": "api_keys_list",
        "summary": "List API keys",
        "description": "Returns a list of API keys.",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "label",
            "schema": {
              "type": "string"
            },
            "description": "Label to filter API keys. Partial match supported.",
            "example": "production"
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      {
                        "id": 123,
                        "label": "Production API Key",
                        "value": "abc123def456ghi789jkl012mno345pqr678stu901vwx234yz",
                        "is_active": true,
                        "is_restriction": true,
                        "permitted_ips": [
                          "192.168.1.1",
                          "10.0.0.1"
                        ],
                        "created_at": "2024-01-15T10:30:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        }
      },
      "post": {
        "operationId": "api_keys_create",
        "summary": "Create an API key",
        "description": "Creates an API key. Optional IP restrictions can be configured to limit access.",
        "tags": [
          "API Keys"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreateRequest"
              },
              "example": {
                "label": "Production API Key",
                "is_active": true,
                "is_restriction": true,
                "permitted_ips": [
                  "192.168.1.1",
                  "10.0.0.1"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": 123,
                      "label": "Production API Key",
                      "value": "abc123def456ghi789jkl012mno345pqr678stu901vwx234yz",
                      "is_active": true,
                      "is_restriction": true,
                      "permitted_ips": [
                        "192.168.1.1",
                        "10.0.0.1"
                      ],
                      "created_at": "2024-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "IP address has an incorrect format"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "IP address has an incorrect format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "operationId": "api_keys_delete",
        "summary": "Delete an API key",
        "description": "Deletes an API key. This action is permanent.",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "API key ID.",
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        }
      }
    },
    "/v1/api-keys/{id}/activate": {
      "patch": {
        "operationId": "api_keys_activate",
        "summary": "Activate an API key",
        "description": "Activates an API key. Once activated, the API key can be used for authentication again.",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "API key ID.",
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "API key activated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        }
      }
    },
    "/v1/api-keys/{id}/deactivate": {
      "patch": {
        "operationId": "api_keys_deactivate",
        "summary": "Deactivate an API key",
        "description": "Deactivates an API key. Once deactivated, the API key cannot be used for authentication.",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "API key ID.",
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "API key deactivated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        }
      }
    },
    "/v1/trunks": {
      "get": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "List SIP trunks",
        "description": "Returns a paginated list of SIP trunks. Results are limited to 25 records per page by default. Use `page` and `per_page` to navigate results.",
        "operationId": "sip_trunks_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of SIP trunks.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SipTrunkListResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "sip_trunks": [
                        {
                          "id": 3107,
                          "label": "My trunk",
                          "name": "32882",
                          "auth_method": "IP auth",
                          "callerid": "14302287001",
                          "host_request": {
                            "host": "127.0.0.1",
                            "status": "pending"
                          },
                          "encrypted_media": false,
                          "passthrough": false,
                          "multiple_numbers": true,
                          "status": "pending",
                          "charge": "24.637",
                          "talk_time": 65,
                          "machine_detection_enabled": true,
                          "call_recording_enabled": true,
                          "transcription_enabled": true,
                          "transcription_threshold": 6
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "total": 1,
                        "per_page": 25,
                        "total_pages": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "Create a SIP trunk",
        "description": "Creates a SIP trunk.",
        "operationId": "sip_trunks_create",
        "parameters": [],
        "requestBody": {
          "description": "SIP trunk configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SipTrunkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "SIP trunk created.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SipTrunkResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": 293,
                      "name": "67758",
                      "callerid": "example",
                      "label": "example",
                      "ip_restrict": false,
                      "allowed_ips": [
                        {
                          "id": 6712,
                          "ip": "127.0.0.1"
                        }
                      ],
                      "channels_restrict": false,
                      "max_channels": 123,
                      "cost_limit": false,
                      "max_call_cost": "example",
                      "call_restrict": false,
                      "call_limit": 123,
                      "didinfo_enabled": true,
                      "rewrite_enabled": false,
                      "rewrite_prefix": "example",
                      "rewrite_cond": "example",
                      "call_recording_enabled": false,
                      "machine_detection_enabled": false,
                      "transcription_enabled": false,
                      "transcription_threshold": 6,
                      "created_at": "2023-06-15T10:30:00Z",
                      "host": "example",
                      "multiple_numbers": true,
                      "encrypted_media": true,
                      "access_token": "example"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "422": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Caller ID must be a verified number in E.164 format"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "Caller ID must be a verified number in E.164 format"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/trunks/{id}": {
      "get": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "Retrieve a SIP trunk",
        "description": "Returns a SIP trunk configuration.",
        "operationId": "sip_trunks_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SIP trunk ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3107
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SIP trunk configuration.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SipTrunkResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": 293,
                      "name": "67758",
                      "callerid": "12345678900",
                      "label": "My trunk",
                      "ip_restrict": false,
                      "allowed_ips": [
                        {
                          "id": 6712,
                          "ip": "127.0.0.1"
                        }
                      ],
                      "channels_restrict": false,
                      "max_channels": 2,
                      "cost_limit": true,
                      "max_call_cost": "0.18",
                      "call_restrict": false,
                      "call_limit": 3600,
                      "didinfo_enabled": true,
                      "rewrite_enabled": true,
                      "rewrite_prefix": "1",
                      "rewrite_cond": "example",
                      "call_recording_enabled": true,
                      "machine_detection_enabled": true,
                      "transcription_enabled": false,
                      "transcription_threshold": 10,
                      "created_at": "2023-05-16T17:13:25.000Z",
                      "host": "dynamic",
                      "multiple_numbers": true,
                      "encrypted_media": true,
                      "access_token": "123easwqe321132"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Resource not found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ForbiddenErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "The service is not provisioned for your account."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "Update a SIP trunk",
        "description": "Updates a SIP trunk configuration.",
        "operationId": "sip_trunks_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SIP trunk ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3107
            }
          }
        ],
        "requestBody": {
          "description": "SIP trunk configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SipTrunkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "SIP trunk updated.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SipTrunkResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": 293,
                      "name": "67758",
                      "callerid": "12345678900",
                      "label": "My trunk",
                      "ip_restrict": false,
                      "allowed_ips": [
                        {
                          "id": 6712,
                          "ip": "127.0.0.1"
                        }
                      ],
                      "channels_restrict": false,
                      "max_channels": 2,
                      "cost_limit": true,
                      "max_call_cost": "0.18",
                      "call_restrict": false,
                      "call_limit": 3600,
                      "didinfo_enabled": true,
                      "rewrite_enabled": true,
                      "rewrite_prefix": "1",
                      "rewrite_cond": "example",
                      "call_recording_enabled": true,
                      "machine_detection_enabled": true,
                      "transcription_enabled": false,
                      "transcription_threshold": 10,
                      "created_at": "2023-05-16T17:13:25.000Z",
                      "host": "dynamic",
                      "multiple_numbers": true,
                      "encrypted_media": true,
                      "access_token": "123easwqe321132"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "Delete a SIP trunk",
        "description": "Deletes a SIP trunk.",
        "operationId": "sip_trunks_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SIP trunk ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3107
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SIP trunk deleted.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List countries",
        "description": "Returns a list of countries where phone numbers are available.",
        "operationId": "buy_countries_list",
        "x-fern-sdk-group-name": [
          "buy",
          "countries"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "Indicates whether to return only countries with text-enabled phone numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {},
            "description": "List of countries.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CountryListResponse"
                    },
                    {
                      "example": {
                        "countries": [
                          {
                            "id": 8669,
                            "has_provinces_or_states": false,
                            "name": "Argentina"
                          },
                          {
                            "id": 8650,
                            "has_provinces_or_states": true,
                            "name": "Australia"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "countries": [
                        {
                          "id": 8669,
                          "has_provinces_or_states": false,
                          "name": "Argentina"
                        },
                        {
                          "id": 8650,
                          "has_provinces_or_states": true,
                          "name": "Australia"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries/{country}/regions": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List regions",
        "description": "Returns a list of regions (states or provinces) for countries where `has_provinces_or_states` is `true`.",
        "operationId": "buy_regions_list",
        "x-fern-sdk-group-name": [
          "buy",
          "regions"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "description": "Country ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1892
            }
          },
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "Indicates whether to return only regions with text-enabled numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of regions.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/RegionListResponse"
                    },
                    {
                      "example": {
                        "regions": [
                          {
                            "id": 13,
                            "name": "Alabama"
                          },
                          {
                            "id": 15,
                            "name": "Arizona"
                          },
                          {
                            "id": 16,
                            "name": "Arkansas"
                          },
                          {
                            "id": 17,
                            "name": "California"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "regions": [
                        {
                          "id": 13,
                          "name": "Alabama"
                        },
                        {
                          "id": 15,
                          "name": "Arizona"
                        },
                        {
                          "id": 16,
                          "name": "Arkansas"
                        },
                        {
                          "id": 17,
                          "name": "California"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found."
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "Resource not found."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/CountryHasNoRegionsErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries/{country}/cities": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List cities",
        "description": "Returns a list of cities for countries where\n `has_provinces_or_states` is `false`.",
        "operationId": "buy_cities_list",
        "x-fern-sdk-group-name": [
          "buy",
          "cities"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "description": "Country ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1891
            }
          },
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "Indicates whether to return only cities with text-enabled numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cities.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CityListResponse"
                    },
                    {
                      "example": {
                        "cities": [
                          {
                            "area_code": 113,
                            "id": 128791,
                            "name": "Buenos Aires"
                          },
                          {
                            "area_code": 341,
                            "id": 132655,
                            "name": "Rosario"
                          },
                          {
                            "area_code": 351,
                            "id": 132656,
                            "name": "Cordoba"
                          },
                          {
                            "area_code": 381,
                            "id": 141803,
                            "name": "Tucuman"
                          },
                          {
                            "area_code": 387,
                            "id": 141986,
                            "name": "Salta"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "cities": [
                        {
                          "area_code": 113,
                          "id": 128791,
                          "name": "Buenos Aires"
                        },
                        {
                          "area_code": 341,
                          "id": 132655,
                          "name": "Rosario"
                        },
                        {
                          "area_code": 351,
                          "id": 132656,
                          "name": "Cordoba"
                        },
                        {
                          "area_code": 381,
                          "id": 141803,
                          "name": "Tucuman"
                        },
                        {
                          "area_code": 387,
                          "id": 141986,
                          "name": "Salta"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request succeeded.",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message.",
                      "example": "Resource not found."
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "Resource not found."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries/{country}/regions/{region}/cities": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List region cities",
        "description": "Returns a list of cities in the specified region for countries where `has_provinces_or_states` is `true`.",
        "operationId": "buy_region_cities_list",
        "x-fern-sdk-group-name": [
          "buy",
          "regionCities"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "description": "Country ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1891
            }
          },
          {
            "name": "region",
            "in": "path",
            "description": "Region ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 821
            }
          },
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "Indicates whether to return only cities with text-enabled numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cities.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CityListResponse"
                    },
                    {
                      "example": {
                        "cities": [
                          {
                            "area_code": 113,
                            "id": 128791,
                            "name": "Buenos Aires"
                          },
                          {
                            "area_code": 341,
                            "id": 132655,
                            "name": "Rosario"
                          },
                          {
                            "area_code": 351,
                            "id": 132656,
                            "name": "Cordoba"
                          },
                          {
                            "area_code": 381,
                            "id": 141803,
                            "name": "Tucuman"
                          },
                          {
                            "area_code": 387,
                            "id": 141986,
                            "name": "Salta"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "cities": [
                        {
                          "area_code": 113,
                          "id": 128791,
                          "name": "Buenos Aires"
                        },
                        {
                          "area_code": 341,
                          "id": 132655,
                          "name": "Rosario"
                        },
                        {
                          "area_code": 351,
                          "id": 132656,
                          "name": "Cordoba"
                        },
                        {
                          "area_code": 381,
                          "id": 141803,
                          "name": "Tucuman"
                        },
                        {
                          "area_code": 387,
                          "id": 141986,
                          "name": "Salta"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request succeeded.",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message.",
                      "example": "Resource not found."
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "Resource not found."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries/{country}/cities/{city}/dids": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List available numbers",
        "description": "Returns a paginated list of phone numbers available for purchase.",
        "operationId": "buy_numbers_list",
        "x-fern-sdk-group-name": [
          "buy",
          "numbers"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "description": "Country ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "city",
            "in": "path",
            "description": "City ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "Indicates whether to return only text-enabled phone numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available phone numbers.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AvailableNumberListResponse"
                    },
                    {
                      "example": {
                        "dids": [
                          {
                            "activation_fee": "15.0",
                            "channels": "4",
                            "city": "Buenos Aires",
                            "cnam": false,
                            "country": "Argentina",
                            "country_short_name": "AR",
                            "domestic_cli": false,
                            "free_min": 0,
                            "id": 541139862174,
                            "monthly_fee": "10.0",
                            "number": "541139862174",
                            "per_min": "0.01",
                            "require_docs": [],
                            "sms_enabled": false,
                            "sms_price": 0
                          }
                        ],
                        "pagination": {
                          "total": 1,
                          "total_pages": 1,
                          "current_page": 1,
                          "per_page": 50
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "dids": [
                        {
                          "activation_fee": "15.0",
                          "channels": "4",
                          "city": "Buenos Aires",
                          "cnam": false,
                          "country": "Argentina",
                          "country_short_name": "AR",
                          "domestic_cli": false,
                          "free_min": 0,
                          "id": 541139862174,
                          "monthly_fee": "10.0",
                          "number": "541139862174",
                          "per_min": "0.01",
                          "require_docs": [],
                          "sms_enabled": false,
                          "sms_price": 0
                        }
                      ],
                      "pagination": {
                        "total": 1,
                        "total_pages": 1,
                        "current_page": 1,
                        "per_page": 50
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request succeeded.",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message.",
                      "example": "Resource not found."
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "Resource not found."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/cart": {
      "put": {
        "tags": [
          "Cart"
        ],
        "summary": "Add to cart",
        "description": "Adds phone numbers to the cart.",
        "operationId": "cart_add",
        "parameters": [],
        "requestBody": {
          "description": "Phone numbers to add.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "List of phone numbers to add to the cart.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "541139862174",
                      "541139862175"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of phone numbers added to the cart.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "additionalProperties": false,
                  "example": [
                    {
                      "activation_fee": "15.0",
                      "channels": "4",
                      "city": "Buenos Aires",
                      "cnam": false,
                      "country": "Argentina",
                      "country_short_name": "AR",
                      "domestic_cli": false,
                      "free_min": 0,
                      "id": 541139862174,
                      "monthly_fee": "10.0",
                      "number": "541139862174",
                      "per_min": "0.01",
                      "require_docs": [],
                      "sms_enabled": false,
                      "sms_price": 0
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": [
                      {
                        "activation_fee": "15.0",
                        "channels": "4",
                        "city": "Buenos Aires",
                        "cnam": false,
                        "country": "Argentina",
                        "country_short_name": "AR",
                        "domestic_cli": false,
                        "free_min": 0,
                        "id": 541139862174,
                        "monthly_fee": "10.0",
                        "number": "541139862174",
                        "per_min": "0.01",
                        "require_docs": [],
                        "sms_enabled": false,
                        "sms_price": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request succeeded.",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message.",
                      "example": "At least one DID with ID specified in the request was not found"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "At least one DID with ID specified in the request was not found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Retrieve cart",
        "description": "Returns the cart.",
        "operationId": "cart_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Cart details.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CartResponse"
                    },
                    {
                      "example": {
                        "dids": [
                          {
                            "activation_fee": "15.0",
                            "channels": "4",
                            "city": "Buenos Aires",
                            "cnam": false,
                            "country": "Argentina",
                            "country_short_name": "AR",
                            "domestic_cli": false,
                            "free_min": 0,
                            "id": 541139862174,
                            "monthly_fee": "10.0",
                            "number": "541139862174",
                            "per_min": "0.01",
                            "require_docs": [],
                            "sms_enabled": false,
                            "sms_price": 0
                          }
                        ],
                        "doc_types": [
                          {
                            "id": 1,
                            "name": "id",
                            "title": "Any form of ID"
                          },
                          {
                            "id": 2,
                            "name": "address",
                            "title": "Proof of address"
                          },
                          {
                            "id": 3,
                            "name": "localaddress",
                            "title": "Proof of local address"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "dids": [
                        {
                          "activation_fee": "15.0",
                          "channels": "4",
                          "city": "Buenos Aires",
                          "cnam": false,
                          "country": "Argentina",
                          "country_short_name": "AR",
                          "domestic_cli": false,
                          "free_min": 0,
                          "id": 541139862174,
                          "monthly_fee": "10.0",
                          "number": "541139862174",
                          "per_min": "0.01",
                          "require_docs": [],
                          "sms_enabled": false,
                          "sms_price": 0
                        }
                      ],
                      "doc_types": [
                        {
                          "id": 1,
                          "name": "id",
                          "title": "Any form of ID"
                        },
                        {
                          "id": 2,
                          "name": "address",
                          "title": "Proof of address"
                        },
                        {
                          "id": 3,
                          "name": "localaddress",
                          "title": "Proof of local address"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove from cart",
        "description": "Removes phone numbers from the cart.",
        "operationId": "cart_remove",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of phone numbers to remove.",
                    "example": [
                      "541139862174",
                      "541139862175"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Numbers removed from the cart.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "example": {
                        "success": true
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found."
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "Resource not found."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/cart/checkout": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Checkout",
        "description": "Checks out the cart. Activation and monthly fees are deducted from the account balance.",
        "operationId": "cart_checkout",
        "parameters": [],
        "requestBody": {
          "description": "Checkout details.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "List of phone numbers to check out from the cart.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "541139862174",
                      "541139862175"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Checkout completed.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "example": {
                        "success": true
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request succeeded.",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message.",
                      "example": "Resource not found."
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "Resource not found."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/mydids": {
      "get": {
        "tags": [
          "My numbers"
        ],
        "summary": "List numbers",
        "description": "Returns a paginated list of phone numbers on the account. Results are limited to 25 records per page by default. Use `page` and `per_page` to navigate results.",
        "operationId": "my_numbers_list",
        "parameters": [
          {
            "name": "city_id",
            "in": "query",
            "description": "City or rate center for filtering.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Phone number or partial number for filtering.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "256537"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "Label for filtering.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "ALEX"
            }
          },
          {
            "name": "label_present",
            "in": "query",
            "description": "Indicates whether to return only numbers with or without labels.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of phone numbers.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "items": [
                        {
                          "id": 123,
                          "number": "12565378257",
                          "activation_fee": "0.99",
                          "monthly_fee": "0.99",
                          "per_min": "0.01",
                          "city": "DETROIT, MI",
                          "state": "example",
                          "country": "United States",
                          "country_short_name": "US",
                          "destination": [
                            {
                              "id": 1,
                              "destination": "[did]@sipuri.com",
                              "priority": 1,
                              "transport": 1,
                              "trunk_id": 23123,
                              "srtp": false,
                              "trunk_label": "My trunk"
                            }
                          ],
                          "channels": 24,
                          "require_docs": [
                            "1"
                          ],
                          "documents": [
                            {
                              "id": 423,
                              "allow_replace": false,
                              "did_number": "12565378257",
                              "doc_content_type": "image/png",
                              "doc_file_name": "Copy of ID.png",
                              "doc_type_id": 1,
                              "status": "approved",
                              "url": "https://api.wavix.com/v1/mydids/24882/papers/1"
                            }
                          ],
                          "domestic_cli": true,
                          "free_min": 123,
                          "unlimited": true,
                          "label": "example",
                          "status": "example",
                          "seconds": "example",
                          "added": "2023-04-10T06:42:59.000Z",
                          "paid_until": "2023-12-07",
                          "sms_enabled": false,
                          "sms_relay_url": "https://your-website.com/webhook",
                          "cnam": true,
                          "call_recording_enabled": true,
                          "transcription_enabled": true,
                          "transcription_threshold": 6,
                          "call_status_url": "https://example.com"
                        }
                      ],
                      "doc_types": [
                        {
                          "id": 2,
                          "name": "address",
                          "title": "Proof of address"
                        }
                      ],
                      "pagination": {
                        "current_page": 2,
                        "per_page": 25,
                        "total": 101,
                        "total_pages": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "My numbers"
        ],
        "summary": "Release numbers",
        "description": "Releases phone numbers back to stock.",
        "operationId": "my_numbers_delete",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "List of phone number IDs to release.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                47832123321,
                47832123324,
                478321233215
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "dids",
            "in": "query",
            "description": "List of phone numbers to release.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "47832123321,47832123324,478321233215"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Numbers released.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "example": {
                        "success": true
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          },
          "422": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found."
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "Resource not found."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/mydids/{id}": {
      "get": {
        "tags": [
          "My numbers"
        ],
        "summary": "Retrieve number",
        "description": "Returns a phone number.",
        "operationId": "my_numbers_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Phone number ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number details.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": 123,
                      "number": "12565378257",
                      "activation_fee": "0.99",
                      "monthly_fee": "0.99",
                      "per_min": "0.01",
                      "city": "DETROIT, MI",
                      "state": "example",
                      "country": "United States",
                      "country_short_name": "US",
                      "destination": [
                        {
                          "id": 1,
                          "destination": "[did]@sipuri.com",
                          "priority": 1,
                          "transport": 1,
                          "trunk_id": 23123,
                          "srtp": false,
                          "trunk_label": "My trunk"
                        }
                      ],
                      "channels": 24,
                      "require_docs": [
                        "1"
                      ],
                      "documents": [
                        {
                          "id": 423,
                          "allow_replace": false,
                          "did_number": "12565378257",
                          "doc_content_type": "image/png",
                          "doc_file_name": "Copy of ID.png",
                          "doc_type_id": 1,
                          "status": "approved",
                          "url": "https://api.wavix.com/v1/mydids/24882/papers/1"
                        }
                      ],
                      "domestic_cli": true,
                      "free_min": 123,
                      "unlimited": true,
                      "label": "example",
                      "status": "example",
                      "seconds": "example",
                      "added": "2023-04-10T06:42:59.000Z",
                      "paid_until": "2023-12-07",
                      "sms_enabled": false,
                      "sms_relay_url": "https://your-website.com/webhook",
                      "cnam": true,
                      "call_recording_enabled": true,
                      "transcription_enabled": true,
                      "transcription_threshold": 6,
                      "call_status_url": "https://example.com"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "My numbers"
        ],
        "summary": "Update number",
        "description": "Updates a phone number.",
        "operationId": "my_numbers_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Phone number ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "call_recording_enabled": {
                    "type": "boolean",
                    "description": "Indicates whether call recording is enabled.",
                    "example": true
                  },
                  "transcription_enabled": {
                    "type": "boolean",
                    "description": "Indicates whether transcription is enabled.",
                    "example": true
                  },
                  "transcription_threshold": {
                    "type": "integer",
                    "description": "Transcription threshold in seconds.",
                    "example": 30
                  },
                  "sms_relay_url": {
                    "type": "string",
                    "description": "Callback URL for inbound messages. Set to `null`\n to remove routing.",
                    "example": "https://you-site.com/sms"
                  },
                  "call_status_url": {
                    "type": "string",
                    "description": "Callback URL for call status updates.",
                    "example": "https://your-site.com/calls"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Phone number updated.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": 123,
                      "number": "12565378257",
                      "activation_fee": "0.99",
                      "monthly_fee": "0.99",
                      "per_min": "0.01",
                      "city": "DETROIT, MI",
                      "state": "example",
                      "country": "United States",
                      "country_short_name": "US",
                      "destination": [
                        {
                          "id": 1,
                          "destination": "[did]@sipuri.com",
                          "priority": 1,
                          "transport": 1,
                          "trunk_id": 23123,
                          "srtp": false,
                          "trunk_label": "My trunk"
                        }
                      ],
                      "channels": 24,
                      "require_docs": [
                        "1"
                      ],
                      "documents": [
                        {
                          "id": 423,
                          "allow_replace": false,
                          "did_number": "12565378257",
                          "doc_content_type": "image/png",
                          "doc_file_name": "Copy of ID.png",
                          "doc_type_id": 1,
                          "status": "approved",
                          "url": "https://api.wavix.com/v1/mydids/24882/papers/1"
                        }
                      ],
                      "domestic_cli": true,
                      "free_min": 123,
                      "unlimited": true,
                      "label": "example",
                      "status": "example",
                      "seconds": "example",
                      "added": "2023-04-10T06:42:59.000Z",
                      "paid_until": "2023-12-07",
                      "sms_enabled": false,
                      "sms_relay_url": "https://your-website.com/webhook",
                      "cnam": true,
                      "call_recording_enabled": true,
                      "transcription_enabled": true,
                      "transcription_threshold": 6,
                      "call_status_url": "https://example.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/mydids/update-sms-enabled": {
      "put": {
        "tags": [
          "My numbers"
        ],
        "summary": "Update SMS status",
        "description": "Enables or disables inbound SMS support for a phone number.",
        "operationId": "my_numbers_sms_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "sms_enabled",
                  "id"
                ],
                "properties": {
                  "sms_enabled": {
                    "type": "boolean",
                    "description": "Indicates whether inbound SMS is enabled.",
                    "example": true
                  },
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Phone number ID.",
                    "example": 123
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "SMS support updated.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request succeeded.",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          },
          "422": {
            "description": "SMS can only be activated on US and CA numbers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request succeeded.",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message.",
                      "example": "Inbound SMS can only be activated on US and CA phone numbers"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "Inbound SMS can only be activated on US and CA phone numbers"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/mydids/update-destinations": {
      "post": {
        "tags": [
          "My numbers"
        ],
        "summary": "Update destinations",
        "description": "Updates inbound call routing for phone numbers.",
        "operationId": "my_numbers_destinations_update",
        "parameters": [],
        "requestBody": {
          "description": "Inbound call routing configuration.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NumberDestinationsUpdateRequest"
                  },
                  {
                    "description": "Inbound call routing configuration."
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Destinations updated.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "example": {
                        "success": true
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Resource not found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/RecordNotFoundErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "success": false,
                      "message": "Request failed. An object with the specified ID is not found."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/mydids/papers": {
      "post": {
        "tags": [
          "My numbers"
        ],
        "summary": "Upload document",
        "description": "Uploads a document for one or more phone numbers.\nUploaded files must meet the following requirements:\n- Allowed formats: PNG, JPG, JPEG, TIFF, BMP, or PDF\n- Maximum file size: 10 MB\n- Files can't be password protected\n- PDF files must not contain digital signatures",
        "operationId": "my_numbers_papers_upload",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {},
              "schema": {
                "required": [
                  "did_ids",
                  "doc_attachment",
                  "doc_id"
                ],
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "did_ids": {
                    "type": "string",
                    "description": "List of phone number IDs.",
                    "example": "2321"
                  },
                  "doc_attachment": {
                    "type": "string",
                    "description": "Document file to upload.",
                    "format": "binary"
                  },
                  "doc_id": {
                    "$ref": "#/components/schemas/DocumentTypeId"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Documents uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "allow_replace": {
                        "type": "boolean",
                        "description": "Indicates whether the document can be replaced.",
                        "example": false
                      },
                      "did_number": {
                        "type": "string",
                        "description": "Phone number the document applies to.",
                        "example": "+14062355770"
                      },
                      "doc_content_type": {
                        "type": "string",
                        "description": "MIME type of the document.",
                        "example": "image/png"
                      },
                      "doc_file_name": {
                        "type": "string",
                        "description": "Document file name.",
                        "example": "user-id-card.png"
                      },
                      "doc_type_id": {
                        "$ref": "#/components/schemas/DocumentTypeId"
                      },
                      "id": {
                        "type": "integer",
                        "description": "Document ID.",
                        "example": 101
                      },
                      "status": {
                        "type": "string",
                        "description": "Document review status.",
                        "example": "pending"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL to access the document.",
                        "example": "https://api.wavix.com/v1/mydids/1001/papers/101"
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      {
                        "id": 101,
                        "allow_replace": false,
                        "did_number": "+14062355770",
                        "doc_content_type": "image/png",
                        "doc_file_name": "user-id-card.png",
                        "doc_type_id": 1,
                        "status": "pending",
                        "url": "https://api.wavix.com/v1/mydids/1001/papers/101"
                      },
                      {
                        "id": 102,
                        "allow_replace": true,
                        "did_number": "+14062355771",
                        "doc_content_type": "application/pdf",
                        "doc_file_name": "driver-license.pdf",
                        "doc_type_id": 2,
                        "status": "approved",
                        "url": "https://api.wavix.com/v1/mydids/1002/papers/102"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/cdr": {
      "get": {
        "tags": [
          "CDRs"
        ],
        "summary": "List CDRs",
        "description": "Returns a paginated list of CDRs.",
        "operationId": "cdrs_list",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start date in `YYYY-MM-DD` format.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-01-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date in `YYYY-MM-DD` format.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-09-01"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Call direction to filter results. Allowed values: `placed`, `received`.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "received"
            }
          },
          {
            "name": "disposition",
            "in": "query",
            "description": "Call disposition to filter results. Allowed values: `answered`, `busy`, `rejected`,\n `failed`, `all`.",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CallDisposition"
                }
              ]
            }
          },
          {
            "name": "from_search",
            "in": "query",
            "description": "Originating phone number for filtering. Full or partial input accepted.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "13524815863"
            }
          },
          {
            "name": "to_search",
            "in": "query",
            "description": "Destination phone number for filtering. Full or partial input accepted.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "12565378257"
            }
          },
          {
            "name": "sip_trunk",
            "in": "query",
            "description": "SIP trunk login to filter outbound calls. Ignored for inbound calls.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "12321"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "Call ID to filter results.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "99df5ffd-962a-410f-bcce-d08f1f7f328c"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "example": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of CDRs.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CdrListResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "items": [
                        {
                          "date": "2023-08-21T06:43:36.000Z",
                          "from": "14302287001",
                          "to": "33170363950",
                          "disposition": "answered",
                          "duration": 6,
                          "destination": "France",
                          "per_minute": "0.027",
                          "charge": "0.822",
                          "sip_trunk": "32882",
                          "forward_fee": "0.0",
                          "uuid": "99df5ffd-962a-410f-bcce-d08f1f7f328c",
                          "parent_uuid": "99df5ffd-962a-410f-bcce-d08f1f7f328c",
                          "answered_by": "human"
                        }
                      ],
                      "pagination": {
                        "current_page": 2,
                        "per_page": 25,
                        "total": 101,
                        "total_pages": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CDRs"
        ],
        "summary": "Search transcriptions",
        "description": "Searches call transcriptions for specific keywords or phrases.",
        "operationId": "cdrs_search",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CdrSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
[...]
