{
  "openapi": "3.1.0",
  "info": {
    "title": "Wavix APIs",
    "description": "Wavix provides robust APIs that let you integrate voice and text messaging features directly into your app. Send text, place calls, and access detailed reports  programmatically.",
    "termsOfService": "https://wavix.com/terms-and-conditions",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "contact": {
      "name": "Wavix",
      "url": "https://wavix.com",
      "email": "support@wavix.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.wavix.com",
      "description": "https://api.wavix.com",
      "variables": {}
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "SIP trunks",
      "description": "SIP trunks"
    },
    {
      "name": "Buy",
      "description": "Numbers"
    },
    {
      "name": "Cart",
      "description": "Numbers"
    },
    {
      "name": "My numbers",
      "description": "Numbers"
    },
    {
      "name": "Billing",
      "description": "Billing, transactions, and invoices"
    },
    {
      "name": "Profile",
      "description": "Account profile and customer information"
    },
    {
      "name": "CDRs",
      "description": "Call detail records and call history"
    },
    {
      "name": "Speech Analytics",
      "description": "Call transcription and speech analytics"
    },
    {
      "name": "SMS and MMS",
      "description": "Messaging"
    },
    {
      "name": "Number Validator",
      "description": "Phone number validation"
    },
    {
      "name": "Link shortener",
      "description": "Short link and click metrics"
    },
    {
      "name": "2FA",
      "description": "Two-factor authentication"
    },
    {
      "name": "10DLC",
      "description": "10DLC Campaigns and Brands"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    },
    {
      "name": "Call webhooks",
      "description": "Webhook configuration for call events"
    },
    {
      "name": "Call control",
      "description": "Programmable Voice"
    },
    {
      "name": "Call streaming",
      "description": "Real-time call audio streaming over WebSocket"
    },
    {
      "name": "Call recording",
      "description": "Call recording"
    },
    {
      "name": "Sub-accounts",
      "description": "Sub-account management"
    },
    {
      "name": "Voice campaigns",
      "description": "Outbound voice campaigns"
    },
    {
      "name": "Wavix Embeddable",
      "description": "WebRTC embeddable widget"
    }
  ],
  "paths": {
    "/v1/api-keys": {
      "get": {
        "operationId": "api_keys_list",
        "summary": "List API keys",
        "description": "Returns the API keys belonging to the authenticated account.",
        "tags": [
          "API Keys"
        ],
        "x-fern-sdk-group-name": [
          "apiKeys"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "in": "query",
            "name": "label",
            "schema": {
              "type": "string"
            },
            "description": "Filters API keys by `label`. Matches partial values.",
            "example": "production"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of API keys.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      {
                        "id": 123,
                        "label": "Production API Key",
                        "value": "abc123def456ghi789jkl012mno345pqr678stu901vwx234yz",
                        "active": true,
                        "restricted": true,
                        "permitted_ips": [
                          "192.168.1.1",
                          "10.0.0.1"
                        ],
                        "scopes_enabled": true,
                        "last_used_at": "2026-04-20T15:42:11Z",
                        "numbers": {
                          "allow": "read"
                        },
                        "trunks": {
                          "allow": "none"
                        },
                        "calls": {
                          "allow": "read"
                        },
                        "messages": {
                          "allow": "write"
                        },
                        "recordings": {
                          "allow": "read"
                        },
                        "campaigns": {
                          "allow": "none"
                        },
                        "two_fa": {
                          "allow": "write"
                        },
                        "validator": {
                          "allow": "read"
                        },
                        "webhooks": {
                          "allow": "none"
                        },
                        "embeddable": {
                          "allow": "none"
                        },
                        "billing": {
                          "allow": "read"
                        },
                        "account": {
                          "allow": "read"
                        },
                        "subaccounts": {
                          "allow": "none"
                        },
                        "created_at": "2024-01-15T10:30:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        }
      },
      "post": {
        "operationId": "api_keys_create",
        "summary": "Create an API key",
        "description": "Creates an API key for the authenticated account. Restrict access by listing permitted IP addresses in `permitted_ips`.",
        "tags": [
          "API Keys"
        ],
        "x-fern-sdk-group-name": [
          "apiKeys"
        ],
        "x-fern-sdk-method-name": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreateRequest"
              },
              "example": {
                "label": "Production API Key",
                "active": true,
                "restricted": true,
                "permitted_ips": [
                  "192.168.1.1",
                  "10.0.0.1"
                ],
                "scopes_enabled": true,
                "numbers": {
                  "allow": "read"
                },
                "calls": {
                  "allow": "read"
                },
                "messages": {
                  "allow": "write"
                },
                "two_fa": {
                  "allow": "write"
                },
                "billing": {
                  "allow": "read"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": 123,
                      "label": "Production API Key",
                      "value": "abc123def456ghi789jkl012mno345pqr678stu901vwx234yz",
                      "active": true,
                      "restricted": true,
                      "permitted_ips": [
                        "192.168.1.1",
                        "10.0.0.1"
                      ],
                      "scopes_enabled": true,
                      "last_used_at": null,
                      "numbers": {
                        "allow": "read"
                      },
                      "trunks": {
                        "allow": "none"
                      },
                      "calls": {
                        "allow": "read"
                      },
                      "messages": {
                        "allow": "write"
                      },
                      "recordings": {
                        "allow": "none"
                      },
                      "campaigns": {
                        "allow": "none"
                      },
                      "two_fa": {
                        "allow": "write"
                      },
                      "validator": {
                        "allow": "none"
                      },
                      "webhooks": {
                        "allow": "none"
                      },
                      "embeddable": {
                        "allow": "none"
                      },
                      "billing": {
                        "allow": "read"
                      },
                      "account": {
                        "allow": "none"
                      },
                      "subaccounts": {
                        "allow": "none"
                      },
                      "created_at": "2024-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "422": {
            "description": "Returns a validation error when a field value is invalid.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "ip_invalid": {
                    "summary": "Invalid IP address",
                    "value": {
                      "success": false,
                      "message": "Ip has incorrect format"
                    }
                  },
                  "scope_not_hash": {
                    "summary": "Scope value is not an object",
                    "value": {
                      "success": false,
                      "message": "API key scope numbers: must be a hash"
                    }
                  },
                  "scope_extra_keys": {
                    "summary": "Scope object has unexpected keys",
                    "value": {
                      "success": false,
                      "message": "API key scope numbers: must have only \"allow\" key"
                    }
                  },
                  "scope_invalid_allow": {
                    "summary": "Unsupported allow value",
                    "value": {
                      "success": false,
                      "message": "API key scope numbers: allow must be one of: none, read, write"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{id}": {
      "patch": {
        "operationId": "api_keys_update",
        "summary": "Update an API key",
        "description": "Updates an API key identified by `id`. Only the provided fields are changed.",
        "tags": [
          "API Keys"
        ],
        "x-fern-sdk-group-name": [
          "apiKeys"
        ],
        "x-fern-sdk-method-name": "update",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The unique ID of the API key.",
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyUpdateRequest"
              },
              "example": {
                "active": true,
                "restricted": true,
                "scopes_enabled": true,
                "permitted_ips": [
                  "192.168.1.1",
                  "10.0.0.1"
                ],
                "label": "Production API Key"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns the updated API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          }
        }
      },
      "delete": {
        "operationId": "api_keys_delete",
        "summary": "Delete an API key",
        "description": "Deletes the API key identified by `id`. Deletion is permanent and revokes the key immediately.",
        "tags": [
          "API Keys"
        ],
        "x-fern-sdk-group-name": [
          "apiKeys"
        ],
        "x-fern-sdk-method-name": "delete",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The unique ID of the API key.",
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a success confirmation. The API key is revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        }
      }
    },
    "/v1/trunks": {
      "get": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "List SIP trunks",
        "description": "Returns a paginated list of SIP trunks for the authenticated account.",
        "operationId": "sip_trunks_list",
        "security": [
          {
            "bearerAuth": [
              "trunks:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "sipTrunks"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve. Default `1`.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to return per page. Default `25`.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of SIP trunks.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SIPTrunkListResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "sip_trunks": [
                        {
                          "id": 3107,
                          "label": "My trunk",
                          "name": "32882",
                          "auth_method": "IP auth",
                          "callerid": "14302287001",
                          "host_request": {
                            "host": "127.0.0.1",
                            "status": "pending"
                          },
                          "encrypted_media": false,
                          "passthrough": false,
                          "multiple_numbers": true,
                          "status": "pending",
                          "charge": "24.637",
                          "talk_time": 65,
                          "machine_detection_enabled": true,
                          "call_recording_enabled": true,
                          "transcription_enabled": true,
                          "transcription_threshold": 6,
                          "access_token": "siped7a3f5c1b9e042d6f8a4c2e7b9d1f3a5c8e0b2d4f6a8c0e2d4b6f8a1c3e5d7"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "total": 1,
                        "per_page": 25,
                        "total_pages": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "Create a SIP trunk",
        "description": "Creates a SIP trunk for routing inbound and outbound calls. Returns the trunk with its generated `access_token`.",
        "operationId": "sip_trunks_create",
        "security": [
          {
            "bearerAuth": [
              "trunks:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "sipTrunks"
        ],
        "x-fern-sdk-method-name": "create",
        "parameters": [],
        "requestBody": {
          "description": "Attributes for the new SIP trunk.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIPTrunkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Returns the created SIP trunk.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SIPTrunkResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": 293,
                      "name": "67758",
                      "callerid": "example",
                      "label": "example",
                      "ip_restrict": false,
                      "allowed_ips": [
                        {
                          "id": 6712,
                          "ip": "127.0.0.1"
                        }
                      ],
                      "channels_restrict": false,
                      "max_channels": 123,
                      "cost_limit": false,
                      "max_call_cost": "example",
                      "call_restrict": false,
                      "call_limit": 123,
                      "didinfo_enabled": true,
                      "rewrite_enabled": false,
                      "rewrite_prefix": "example",
                      "rewrite_cond": "example",
                      "call_recording_enabled": false,
                      "machine_detection_enabled": false,
                      "transcription_enabled": false,
                      "transcription_threshold": 6,
                      "created_at": "2023-06-15T10:30:00Z",
                      "host": "example",
                      "multiple_numbers": true,
                      "encrypted_media": true,
                      "access_token": "siped7a3f5c1b9e042d6f8a4c2e7b9d1f3a5c8e0b2d4f6a8c0e2d4b6f8a1c3e5d7"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/trunks/{id}": {
      "get": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "Retrieve a SIP trunk",
        "description": "Returns the SIP trunk identified by `id`.",
        "operationId": "sip_trunks_get",
        "security": [
          {
            "bearerAuth": [
              "trunks:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "sipTrunks"
        ],
        "x-fern-sdk-method-name": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the SIP trunk.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3107
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the SIP trunk.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SIPTrunkResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": 293,
                      "name": "67758",
                      "callerid": "12345678900",
                      "label": "My trunk",
                      "ip_restrict": false,
                      "allowed_ips": [
                        {
                          "id": 6712,
                          "ip": "127.0.0.1"
                        }
                      ],
                      "channels_restrict": false,
                      "max_channels": 2,
                      "cost_limit": true,
                      "max_call_cost": "0.18",
                      "call_restrict": false,
                      "call_limit": 3600,
                      "didinfo_enabled": true,
                      "rewrite_enabled": true,
                      "rewrite_prefix": "1",
                      "rewrite_cond": "example",
                      "call_recording_enabled": true,
                      "machine_detection_enabled": true,
                      "transcription_enabled": false,
                      "transcription_threshold": 10,
                      "created_at": "2023-05-16T17:13:25.000Z",
                      "host": "dynamic",
                      "multiple_numbers": true,
                      "encrypted_media": true,
                      "access_token": "123easwqe321132"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "description": "Returns when no SIP trunk matches `id`, or the account is not provisioned for SIP trunks.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ForbiddenErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": false,
                      "message": "The service is not provisioned for your account."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "Update a SIP trunk",
        "description": "Replaces the configuration of the SIP trunk identified by `id`. Omitted fields revert to their defaults.",
        "operationId": "sip_trunks_update",
        "security": [
          {
            "bearerAuth": [
              "trunks:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "sipTrunks"
        ],
        "x-fern-sdk-method-name": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the SIP trunk.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3107
            }
          }
        ],
        "requestBody": {
          "description": "Full replacement of the SIP trunk. Omitted fields revert to their defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIPTrunkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the updated SIP trunk.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SIPTrunkResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": 293,
                      "name": "67758",
                      "callerid": "12345678900",
                      "label": "My trunk",
                      "ip_restrict": false,
                      "allowed_ips": [
                        {
                          "id": 6712,
                          "ip": "127.0.0.1"
                        }
                      ],
                      "channels_restrict": false,
                      "max_channels": 2,
                      "cost_limit": true,
                      "max_call_cost": "0.18",
                      "call_restrict": false,
                      "call_limit": 3600,
                      "didinfo_enabled": true,
                      "rewrite_enabled": true,
                      "rewrite_prefix": "1",
                      "rewrite_cond": "example",
                      "call_recording_enabled": true,
                      "machine_detection_enabled": true,
                      "transcription_enabled": false,
                      "transcription_threshold": 10,
                      "created_at": "2023-05-16T17:13:25.000Z",
                      "host": "dynamic",
                      "multiple_numbers": true,
                      "encrypted_media": true,
                      "access_token": "123easwqe321132"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "SIP trunks"
        ],
        "summary": "Delete a SIP trunk",
        "description": "Deletes the SIP trunk identified by `id`. Deletion is permanent and stops call routing through the trunk.",
        "operationId": "sip_trunks_delete",
        "security": [
          {
            "bearerAuth": [
              "trunks:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "sipTrunks"
        ],
        "x-fern-sdk-method-name": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the SIP trunk.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3107
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a success confirmation. The SIP trunk is deleted.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List countries",
        "description": "Returns a list of countries where phone numbers are available.",
        "operationId": "buy_countries_list",
        "security": [
          {
            "bearerAuth": [
              "numbers:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "buy",
          "countries"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "When `true`, returns only countries that offer text-enabled phone numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {},
            "description": "Returns the list of countries with available phone numbers.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CountryListResponse"
                    },
                    {
                      "example": {
                        "countries": [
                          {
                            "id": 8669,
                            "has_provinces_or_states": false,
                            "name": "Argentina"
                          },
                          {
                            "id": 8650,
                            "has_provinces_or_states": true,
                            "name": "Australia"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "countries": [
                        {
                          "id": 8669,
                          "has_provinces_or_states": false,
                          "name": "Argentina"
                        },
                        {
                          "id": 8650,
                          "has_provinces_or_states": true,
                          "name": "Australia"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries/{country_id}/regions": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List regions",
        "description": "Returns a list of regions (states or provinces) for countries where `has_provinces_or_states` is `true`.",
        "operationId": "buy_regions_list",
        "security": [
          {
            "bearerAuth": [
              "numbers:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "buy",
          "regions"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "The unique ID of the country.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1892
            }
          },
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "When `true`, returns only regions that offer text-enabled numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of regions.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/RegionListResponse"
                    },
                    {
                      "example": {
                        "regions": [
                          {
                            "id": 13,
                            "name": "Alabama"
                          },
                          {
                            "id": 15,
                            "name": "Arizona"
                          },
                          {
                            "id": 16,
                            "name": "Arkansas"
                          },
                          {
                            "id": 17,
                            "name": "California"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "regions": [
                        {
                          "id": 13,
                          "name": "Alabama"
                        },
                        {
                          "id": 15,
                          "name": "Arizona"
                        },
                        {
                          "id": 16,
                          "name": "Arkansas"
                        },
                        {
                          "id": 17,
                          "name": "California"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/CountryHasNoRegionsErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries/{country_id}/cities": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List cities",
        "description": "Returns a list of cities for countries where\n `has_provinces_or_states` is `false`.",
        "operationId": "buy_cities_list",
        "security": [
          {
            "bearerAuth": [
              "numbers:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "buy",
          "cities"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "The unique ID of the country.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1891
            }
          },
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "When `true`, returns only cities that offer text-enabled numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of cities.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CityListResponse"
                    },
                    {
                      "example": {
                        "cities": [
                          {
                            "area_code": 113,
                            "id": 128791,
                            "name": "Buenos Aires"
                          },
                          {
                            "area_code": 341,
                            "id": 132655,
                            "name": "Rosario"
                          },
                          {
                            "area_code": 351,
                            "id": 132656,
                            "name": "Cordoba"
                          },
                          {
                            "area_code": 381,
                            "id": 141803,
                            "name": "Tucuman"
                          },
                          {
                            "area_code": 387,
                            "id": 141986,
                            "name": "Salta"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "cities": [
                        {
                          "area_code": 113,
                          "id": 128791,
                          "name": "Buenos Aires"
                        },
                        {
                          "area_code": 341,
                          "id": 132655,
                          "name": "Rosario"
                        },
                        {
                          "area_code": 351,
                          "id": 132656,
                          "name": "Cordoba"
                        },
                        {
                          "area_code": 381,
                          "id": 141803,
                          "name": "Tucuman"
                        },
                        {
                          "area_code": 387,
                          "id": 141986,
                          "name": "Salta"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries/{country_id}/regions/{region_id}/cities": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List region cities",
        "description": "Returns a list of cities in the specified region for countries where `has_provinces_or_states` is `true`.",
        "operationId": "buy_region_cities_list",
        "security": [
          {
            "bearerAuth": [
              "numbers:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "buy",
          "regionCities"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "The unique ID of the country.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1891
            }
          },
          {
            "name": "region_id",
            "in": "path",
            "description": "The unique ID of the region.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 821
            }
          },
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "When `true`, returns only cities that offer text-enabled numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of cities.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CityListResponse"
                    },
                    {
                      "example": {
                        "cities": [
                          {
                            "area_code": 113,
                            "id": 128791,
                            "name": "Buenos Aires"
                          },
                          {
                            "area_code": 341,
                            "id": 132655,
                            "name": "Rosario"
                          },
                          {
                            "area_code": 351,
                            "id": 132656,
                            "name": "Cordoba"
                          },
                          {
                            "area_code": 381,
                            "id": 141803,
                            "name": "Tucuman"
                          },
                          {
                            "area_code": 387,
                            "id": 141986,
                            "name": "Salta"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "cities": [
                        {
                          "area_code": 113,
                          "id": 128791,
                          "name": "Buenos Aires"
                        },
                        {
                          "area_code": 341,
                          "id": 132655,
                          "name": "Rosario"
                        },
                        {
                          "area_code": 351,
                          "id": 132656,
                          "name": "Cordoba"
                        },
                        {
                          "area_code": 381,
                          "id": 141803,
                          "name": "Tucuman"
                        },
                        {
                          "area_code": 387,
                          "id": 141986,
                          "name": "Salta"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/countries/{country_id}/cities/{city_id}/dids": {
      "get": {
        "tags": [
          "Buy"
        ],
        "summary": "List available phone numbers",
        "description": "Returns a paginated list of phone numbers available for purchase in the specified city.",
        "operationId": "buy_numbers_list",
        "security": [
          {
            "bearerAuth": [
              "numbers:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "buy",
          "numbers"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "The unique ID of the country.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "city_id",
            "in": "path",
            "description": "The unique ID of the city.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "text_enabled_only",
            "in": "query",
            "description": "When `true`, returns only text-enabled phone numbers.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve. Default `1`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to return per page. Default `25`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of available phone numbers.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AvailableNumberListResponse"
                    },
                    {
                      "example": {
                        "dids": [
                          {
                            "activation_fee": "15.0",
                            "channels": "4",
                            "city": "Buenos Aires",
                            "cnam": false,
                            "country": "Argentina",
                            "country_short_name": "AR",
                            "domestic_cli": false,
                            "free_min": 0,
                            "id": 541139862174,
                            "monthly_fee": "10.0",
                            "number": "541139862174",
                            "per_min": "0.01",
                            "require_docs": [],
                            "sms_enabled": false,
                            "sms_price": 0
                          }
                        ],
                        "pagination": {
                          "total": 1,
                          "total_pages": 1,
                          "current_page": 1,
                          "per_page": 50
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "dids": [
                        {
                          "activation_fee": "15.0",
                          "channels": "4",
                          "city": "Buenos Aires",
                          "cnam": false,
                          "country": "Argentina",
                          "country_short_name": "AR",
                          "domestic_cli": false,
                          "free_min": 0,
                          "id": 541139862174,
                          "monthly_fee": "10.0",
                          "number": "541139862174",
                          "per_min": "0.01",
                          "require_docs": [],
                          "sms_enabled": false,
                          "sms_price": 0
                        }
                      ],
                      "pagination": {
                        "total": 1,
                        "total_pages": 1,
                        "current_page": 1,
                        "per_page": 50
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/cart": {
      "put": {
        "tags": [
          "Cart"
        ],
        "summary": "Add to cart",
        "description": "Adds the listed phone numbers to the purchase cart.",
        "operationId": "cart_add",
        "security": [
          {
            "bearerAuth": [
              "numbers:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "cart"
        ],
        "x-fern-sdk-method-name": "add",
        "parameters": [],
        "requestBody": {
          "description": "Phone numbers to add to the cart.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "Phone numbers to add to the cart.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "541139862174",
                      "541139862175"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the phone numbers now in the cart.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "additionalProperties": false,
                  "example": [
                    {
                      "activation_fee": "15.0",
                      "channels": "4",
                      "city": "Buenos Aires",
                      "cnam": false,
                      "country": "Argentina",
                      "country_short_name": "AR",
                      "domestic_cli": false,
                      "free_min": 0,
                      "id": 541139862174,
                      "monthly_fee": "10.0",
                      "number": "541139862174",
                      "per_min": "0.01",
                      "require_docs": [],
                      "sms_enabled": false,
                      "sms_price": 0
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": [
                      {
                        "activation_fee": "15.0",
                        "channels": "4",
                        "city": "Buenos Aires",
                        "cnam": false,
                        "country": "Argentina",
                        "country_short_name": "AR",
                        "domestic_cli": false,
                        "free_min": 0,
                        "id": 541139862174,
                        "monthly_fee": "10.0",
                        "number": "541139862174",
                        "per_min": "0.01",
                        "require_docs": [],
                        "sms_enabled": false,
                        "sms_price": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Retrieve the cart",
        "description": "Returns the current purchase cart, including the phone numbers it contains and the documents each requires.",
        "operationId": "cart_get",
        "security": [
          {
            "bearerAuth": [
              "numbers:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "cart"
        ],
        "x-fern-sdk-method-name": "get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the cart.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CartResponse"
                    },
                    {
                      "example": {
                        "dids": [
                          {
                            "activation_fee": "15.0",
                            "channels": "4",
                            "city": "Buenos Aires",
                            "cnam": false,
                            "country": "Argentina",
                            "country_short_name": "AR",
                            "domestic_cli": false,
                            "free_min": 0,
                            "id": 541139862174,
                            "monthly_fee": "10.0",
                            "number": "541139862174",
                            "per_min": "0.01",
                            "require_docs": [],
                            "sms_enabled": false,
                            "sms_price": 0
                          }
                        ],
                        "doc_types": [
                          {
                            "id": 1,
                            "name": "id",
                            "title": "Any form of ID"
                          },
                          {
                            "id": 2,
                            "name": "address",
                            "title": "Proof of address"
                          },
                          {
                            "id": 3,
                            "name": "localaddress",
                            "title": "Proof of local address"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "dids": [
                        {
                          "activation_fee": "15.0",
                          "channels": "4",
                          "city": "Buenos Aires",
                          "cnam": false,
                          "country": "Argentina",
                          "country_short_name": "AR",
                          "domestic_cli": false,
                          "free_min": 0,
                          "id": 541139862174,
                          "monthly_fee": "10.0",
                          "number": "541139862174",
                          "per_min": "0.01",
                          "require_docs": [],
                          "sms_enabled": false,
                          "sms_price": 0
                        }
                      ],
                      "doc_types": [
                        {
                          "id": 1,
                          "name": "id",
                          "title": "Any form of ID"
                        },
                        {
                          "id": 2,
                          "name": "address",
                          "title": "Proof of address"
                        },
                        {
                          "id": 3,
                          "name": "localaddress",
                          "title": "Proof of local address"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove from cart",
        "description": "Removes the listed phone numbers from the purchase cart.",
        "operationId": "cart_remove",
        "security": [
          {
            "bearerAuth": [
              "numbers:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "cart"
        ],
        "x-fern-sdk-method-name": "remove",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers to remove from the cart.",
                    "example": [
                      "541139862174",
                      "541139862175"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a success confirmation. The numbers are removed from the cart.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "example": {
                        "success": true
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/buy/cart/checkout": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Check out the cart",
        "description": "Purchases the listed phone numbers from the cart. Activation and monthly fees are deducted from the account balance.",
        "operationId": "cart_checkout",
        "security": [
          {
            "bearerAuth": [
              "numbers:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "cart"
        ],
        "x-fern-sdk-method-name": "checkout",
        "parameters": [],
        "requestBody": {
          "description": "Phone numbers from the cart to purchase.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "Phone numbers from the cart to purchase.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "541139862174",
                      "541139862175"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Returns a success confirmation. The phone numbers are purchased.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "example": {
                        "success": true
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/numbers": {
      "get": {
        "tags": [
          "My numbers"
        ],
        "summary": "List phone numbers",
        "description": "Returns a paginated list of the phone numbers owned by the authenticated account.",
        "operationId": "my_numbers_list",
        "security": [
          {
            "bearerAuth": [
              "numbers:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "numbers"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "city_id",
            "in": "query",
            "description": "Filters numbers by the ID of their city or rate center.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filters numbers by a full or partial phone number.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "256537"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "Filters numbers by `label`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "ALEX"
            }
          },
          {
            "name": "label_present",
            "in": "query",
            "description": "When `true`, returns only numbers that have a label; when `false`, only numbers without one.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve. Default `1`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to return per page. Default `25`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of phone numbers.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "items": [
                        {
                          "id": 123,
                          "number": "12565378257",
                          "activation_fee": "0.99",
                          "monthly_fee": "0.99",
                          "per_min": "0.01",
                          "city": "DETROIT, MI",
                          "state": "example",
                          "country": "United States",
                          "country_short_name": "US",
                          "destination": [
                            {
                              "id": 1,
                              "destination": "[did]@sipuri.com",
                              "priority": 1,
                              "transport": 1,
                              "trunk_id": 23123,
                              "srtp": false,
                              "trunk_label": "My trunk"
                            }
                          ],
                          "channels": 24,
                          "require_docs": [
                            "1"
                          ],
                          "documents": [
                            {
                              "id": 423,
                              "allow_replace": false,
                              "did_number": "12565378257",
                              "doc_content_type": "image/png",
                              "doc_file_name": "Copy of ID.png",
                              "doc_type_id": 1,
                              "status": "approved",
                              "url": "https://api.wavix.com/v1/numbers/24882/papers/1"
                            }
                          ],
                          "domestic_cli": true,
                          "free_min": 123,
                          "unlimited": true,
                          "label": "example",
                          "status": "example",
                          "seconds": "example",
                          "added": "2023-04-10T06:42:59.000Z",
                          "paid_until": "2023-12-07",
                          "sms_enabled": false,
                          "sms_relay_url": "https://your-website.com/webhook",
                          "cnam": true,
                          "call_recording_enabled": true,
                          "transcription_enabled": true,
                          "transcription_threshold": 6,
                          "call_status_url": "https://example.com"
                        }
                      ],
                      "doc_types": [
                        {
                          "id": 2,
                          "name": "address",
                          "title": "Proof of address"
                        }
                      ],
                      "pagination": {
                        "current_page": 2,
                        "per_page": 25,
                        "total": 101,
                        "total_pages": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "My numbers"
        ],
        "summary": "Release phone numbers",
        "description": "Releases the listed phone numbers back to stock. Selection accepts either `ids` (record IDs) or `dids` (phone numbers), but not both.",
        "operationId": "my_numbers_delete",
        "security": [
          {
            "bearerAuth": [
              "numbers:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "numbers"
        ],
        "x-fern-sdk-method-name": "delete",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Record IDs of the phone numbers to release. Mutually exclusive with `dids`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                47832123321,
                47832123324,
                478321233215
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "dids",
            "in": "query",
            "description": "Comma-separated phone numbers to release. Mutually exclusive with `ids`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "47832123321,47832123324,478321233215"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a success confirmation. The numbers are released back to stock.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "example": {
                        "success": true
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "My numbers"
        ],
        "summary": "Bulk update phone numbers",
        "description": "Applies the same changes to every listed phone number. Only the provided fields are changed. Destination and SMS callback changes are applied asynchronously and may not be reflected in the response immediately.",
        "operationId": "numbers_bulk_update",
        "security": [
          {
            "bearerAuth": [
              "numbers:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "numbers"
        ],
        "x-fern-sdk-method-name": "bulkUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberBulkUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the updated phone numbers.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Number"
                      },
                      "description": "The updated phone numbers."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/numbers/{id}": {
      "get": {
        "tags": [
          "My numbers"
        ],
        "summary": "Retrieve a phone number",
        "description": "Returns the phone number identified by `id`, including its destinations, documents, and feature settings.",
        "operationId": "my_numbers_get",
        "security": [
          {
            "bearerAuth": [
              "numbers:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "numbers"
        ],
        "x-fern-sdk-method-name": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the phone number.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the phone number.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": 123,
                      "number": "12565378257",
                      "activation_fee": "0.99",
                      "monthly_fee": "0.99",
                      "per_min": "0.01",
                      "city": "DETROIT, MI",
                      "state": "example",
                      "country": "United States",
                      "country_short_name": "US",
                      "destination": [
                        {
                          "id": 1,
                          "destination": "[did]@sipuri.com",
                          "priority": 1,
                          "transport": 1,
                          "trunk_id": 23123,
                          "srtp": false,
                          "trunk_label": "My trunk"
                        }
                      ],
                      "channels": 24,
                      "require_docs": [
                        "1"
                      ],
                      "documents": [
                        {
                          "id": 423,
                          "allow_replace": false,
                          "did_number": "12565378257",
                          "doc_content_type": "image/png",
                          "doc_file_name": "Copy of ID.png",
                          "doc_type_id": 1,
                          "status": "approved",
                          "url": "https://api.wavix.com/v1/numbers/24882/papers/1"
                        }
                      ],
                      "domestic_cli": true,
                      "free_min": 123,
                      "unlimited": true,
                      "label": "example",
                      "status": "example",
                      "seconds": "example",
                      "added": "2023-04-10T06:42:59.000Z",
                      "paid_until": "2023-12-07",
                      "sms_enabled": false,
                      "sms_relay_url": "https://your-website.com/webhook",
                      "cnam": true,
                      "call_recording_enabled": true,
                      "transcription_enabled": true,
                      "transcription_threshold": 6,
                      "call_status_url": "https://example.com"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "My numbers"
        ],
        "summary": "Update a phone number",
        "description": "Updates the phone number identified by `id`. Only the provided fields are changed.",
        "operationId": "numbers_update",
        "security": [
          {
            "bearerAuth": [
              "numbers:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "numbers"
        ],
        "x-fern-sdk-method-name": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the phone number.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberUpdateRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns the updated phone number.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/numbers/papers": {
      "post": {
        "tags": [
          "My numbers"
        ],
        "summary": "Upload a document",
        "description": "Uploads a verification document for one or more phone numbers.\nUploaded files must meet the following requirements:\n- Allowed formats: PNG, JPG, JPEG, TIFF, BMP, or PDF\n- Maximum file size: 10 MB\n- Files can't be password protected\n- PDF files must not contain digital signatures",
        "operationId": "my_numbers_papers_upload",
        "security": [
          {
            "bearerAuth": [
              "numbers:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "numbers",
          "papers"
        ],
        "x-fern-sdk-method-name": "upload",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {},
              "schema": {
                "required": [
                  "did_ids",
                  "doc_attachment",
                  "doc_id"
                ],
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "did_ids": {
                    "type": "string",
                    "description": "Comma-separated record IDs of the phone numbers the document applies to.",
                    "example": "2321"
                  },
                  "doc_attachment": {
                    "type": "string",
                    "description": "Document file to upload. Allowed formats are PNG, JPG, JPEG, TIFF, BMP, and PDF. Maximum size is 10 MB.",
                    "format": "binary"
                  },
                  "doc_id": {
                    "$ref": "#/components/schemas/DocumentTypeID"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns the uploaded documents and their review status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NumberDocument"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      {
                        "id": 101,
                        "allow_replace": false,
                        "did_number": "+14062355770",
                        "doc_content_type": "image/png",
                        "doc_file_name": "user-id-card.png",
                        "doc_type_id": 1,
                        "status": "pending",
                        "url": "https://api.wavix.com/v1/numbers/1001/papers/101"
                      },
                      {
                        "id": 102,
                        "allow_replace": true,
                        "did_number": "+14062355771",
                        "doc_content_type": "application/pdf",
                        "doc_file_name": "driver-license.pdf",
                        "doc_type_id": 2,
                        "status": "approved",
                        "url": "https://api.wavix.com/v1/numbers/1002/papers/102"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/cdrs": {
      "get": {
        "tags": [
          "CDRs"
        ],
        "summary": "List CDRs",
        "description": "Returns a paginated list of call detail records for the authenticated account, within the requested date range.",
        "operationId": "cdrs_list",
        "security": [
          {
            "bearerAuth": [
              "calls:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "cdrs"
        ],
        "x-fern-sdk-method-name": "list",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start of the date range to query, in `YYYY-MM-DD` format. Inclusive.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-01-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of the date range to query, in `YYYY-MM-DD` format. Inclusive.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-09-01"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters CDRs by call direction. One of `placed` (outbound calls dialed by the account) or `received` (inbound calls answered by the account).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "received"
            }
          },
          {
            "name": "disposition",
            "in": "query",
            "description": "Filters CDRs by call disposition. One of `answered` (the called party answered), `busy` (the called party was busy), `rejected` (the call was declined), `failed` (the call could not be routed), or `all` (no disposition filter).",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CallDisposition"
                }
              ]
            }
          },
          {
            "name": "from_search",
            "in": "query",
            "description": "Filters CDRs by originating phone number. Accepts a full or partial number.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "13524815863"
            }
          },
          {
            "name": "to_search",
            "in": "query",
            "description": "Filters CDRs by destination phone number. Accepts a full or partial number.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "12565378257"
            }
          },
          {
            "name": "sip_trunk",
            "in": "query",
            "description": "Filters outbound CDRs by SIP trunk login. Ignored for inbound calls.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "12321"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "Filters CDRs by the unique call ID.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "99df5ffd-962a-410f-bcce-d08f1f7f328c"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve. Default `1`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to return per page. Default `25`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "example": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of CDRs.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CDRListResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "items": [
                        {
                          "date": "2023-08-21T06:43:36.000Z",
                          "from": "14302287001",
                          "to": "33170363950",
                          "disposition": "answered",
                          "duration": 6,
                          "destination": "France",
                          "per_minute": "0.027",
                          "charge": "0.822",
                          "sip_trunk": "32882",
                          "forward_fee": "0.0",
                          "uuid": "99df5ffd-962a-410f-bcce-d08f1f7f328c",
                          "call_id": "99df5ffd-962a-410f-bcce-d08f1f7f328c",
                          "parent_uuid": "99df5ffd-962a-410f-bcce-d08f1f7f328c",
                          "answered_by": "human"
                        }
                      ],
                      "pagination": {
                        "current_page": 2,
                        "per_page": 25,
                        "total": 101,
                        "total_pages": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestErrorResponse"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CDRs"
        ],
        "summary": "Search transcriptions",
        "description": "Searches call transcriptions for the given keywords or phrases and returns the matching CDRs with their transcriptions.",
        "operationId": "cdrs_search",
        "security": [
          {
            "bearerAuth": [
              "calls:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "cdrs"
        ],
        "x-fern-sdk-method-name": "search",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CDRSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a paginated list of matching CDRs with their transcriptions.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CDRTranscriptionSearchResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "items": [
                        {
                          "answered_by": "human",
                          "date": "2023-08-21T06:43:36.000Z",
                          "from": "14302287001",
                          "to": "33170363950",
                          "disposition": "answered",
                          "duration": 6,
                          "destination": "France",
                          "per_minute": "0.027",
                          "charge": "example",
                          "sip_trunk": "32882",
                          "forward_fee": "0.0",
                          "uuid": "99df5ffd-962a-410f-bcce-d08f1f7f328c",
                          "call_id": "99df5ffd-962a-410f-bcce-d08f1f7f328c",
                          "parent_uuid": "99df5ffd-962a-410f-bcce-d08f1f7f328c",
                          "transcription": {
                            "uuid": "40d6f322-048d-490b-95c7-4fc5c76a74db",
                            "url": "https://api.wavix.com/v1/cdrs/40d6f322-048d-490b-95c7-4fc5c76a74db/transcription?appid=secret"
                          }
                        }
                      ],
                      "pagination": {
                        "current_page": 2,
                        "per_page": 25,
                        "total": 101,
                        "total_pages": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/cdrs/{call_id}/retranscribe": {
      "put": {
        "tags": [
          "CDRs"
        ],
        "summary": "Transcribe a call recording",
        "description": "Transcribes the recording of the call identified by `call_id`. Transcription is asynchronous; poll the transcription endpoint for the result.",
        "operationId": "cdrs_retranscribe",
        "security": [
          {
            "bearerAuth": [
              "calls:write"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "cdrs"
        ],
        "x-fern-sdk-method-name": "retranscribe",
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "description": "The unique ID of the call.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "bbaa37bf-430a-46da-ade3-c248e407016"
            }
          }
        ],
        "requestBody": {
          "description": "Options for the transcription request.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CDRRetranscriptionRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a success confirmation. Transcription is queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          }
        },
        "deprecated": false
      }
    },
    "/v1/cdrs/{call_id}/transcription": {
      "get": {
        "tags": [
          "CDRs"
        ],
        "summary": "Retrieve a transcription",
        "description": "Returns the transcription of the recorded call identified by `call_id`, including the transcript, speaker turns, and summary.",
        "operationId": "cdrs_transcription_get",
        "security": [
          {
            "bearerAuth": [
              "calls:read"
            ]
          }
        ],
        "x-fern-sdk-group-name": [
          "cdrs",
          "transcription"
        ],
        "x-fern-sdk-method-name": "get",
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "description": "The unique ID of the call.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "bbaa37bf-430a-46da-ade3-c248e407016"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the call transcription.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CDRTranscriptionResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "transcript": {
                        "16572026750": "",
                        "16465292513": ""
                      },
                      "turns": [
                        {
                          "type": "46844685344",
                          "s": 160,
                          "e": 7280,
                          "text": "Hello, how can I help you?"
                        },
                        {
                          "type": "+16572026750",
                          "s": 2400,
                          "e": 3280,
                          "text": "Hello, I have a question about my bill."
                        }
                      ],
[...]
