---
openapi: 3.1.0
info:
  title: Wavix APIs
  description: Wavix provides robust APIs that let you integrate voice and text
    messaging features directly into your app. Send text, place calls, and
    access detailed reports  programmatically.
  termsOfService: https://wavix.com/terms-and-conditions
  license:
    name: MIT
    identifier: MIT
  contact:
    name: Wavix
    url: https://wavix.com
    email: support@wavix.com
  version: "1.0"
servers:
  - url: https://api.wavix.com/v1
    description: https://api.wavix.com/v1
    variables: {}
paths:
  /trunks:
    get:
      tags:
        - SIP trunks
      summary: List SIP trunks on the account
      description: Use this method to list SIP trunks on your account.
        By default, results are paginated with 25 records per page.
      operationId: ListSIPtrunksontheaccount
      parameters:
        - name: page
          in: query
          description: Requested page
          style: form
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          description: Number of records per page
          style: form
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SIPtrunklist"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      deprecated: false
    post:
      tags:
        - SIP trunks
      summary: Create a new SIP trunk
      description: Use this method to create a new SIP trunk on your account.
      operationId: CreateanewSIPtrunk
      parameters: []
      requestBody:
        description: A new SIP trunk configuration parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSIPTrunkRequest"
        required: true
      responses:
        "201":
          description: A created SIP trunk details
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TrunksResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          description: Failed to create a SIP trunk
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Caller ID must be a verified number in E.164 format
      deprecated: false
  "/trunks/{id}":
    get:
      tags:
        - SIP trunks
      summary: Get a SIP trunk configuration
      description: Use this method to get a specific SIP trunk
        configuration details.
      operationId: GetSIPtrunkconfiguration
      parameters:
        - name: id
          in: path
          description: SIP trunk ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
            example: 3107
      responses:
        "200":
          description: SIP trunk details
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TrunksResponse"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: An object with the specified ID is not found.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotFoundException"
      deprecated: false
    put:
      tags:
        - SIP trunks
      summary: Update a SIP trunk configuration
      description: Use this method to update a specific SIP trunk configuration.
      operationId: UpdateaSIPtrunk
      parameters:
        - name: id
          in: path
          description: SIP trunk ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
            example: 3107
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSIPTrunkRequest"
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TrunksResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      deprecated: false
    delete:
      tags:
        - SIP trunks
      summary: Delete a SIP trunk
      description: Use this method to delete a SIP trunk from your account.
      operationId: DeleteaSIPtrunk
      parameters:
        - name: id
          in: path
          description: SIP trunk ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
            example: 3107
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/OperationSuccessfulRepose"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      deprecated: false
  /buy/countries:
    get:
      tags:
        - Buy
      summary: Get a list of countries
      description: Use this method to retrieve a list of countries
       where phone numbers are available to purchase.
      operationId: Getalistofcountries
      parameters:
        - name: text_enabled_only
          in: query
          description: Retrieve countries with text-enabled phone numbers only
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        "200":
          headers: {}
          description: ""
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BuyCountriesResponse"
                  - example:
                      countries:
                        - id: 8669
                          has_provinces_or_states: false
                          name: Argentina
                        - id: 8650
                          has_provinces_or_states: true
                          name: Australia
              example:
                countries:
                  - id: 8669
                    has_provinces_or_states: false
                    name: Argentina
                  - id: 8650
                    has_provinces_or_states: true
                    name: Australia
        "403":
          $ref: "#/components/responses/ForbiddenError"
      deprecated: false
  "/buy/countries/{country}/regions":
    get:
      tags:
        - Buy
      summary: Get a list of regions
      description: Use this method to retrieve a list of states or provinces for
        countries where `has_provinces_or_states` is `true`.
      operationId: Getalistofregions
      parameters:
        - name: country
          in: path
          description: Country unique ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
            example: 1892
        - name: text_enabled_only
          in: query
          description: Retrieves only regions that offer text-enabled numbers
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BuyCountriesRegionsResponse"
                  - example:
                      regions:
                        - id: 13
                          name: Alabama
                        - id: 15
                          name: Arizona
                        - id: 16
                          name: Arkansas
                        - id: 17
                          name: California
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An object with the specified ID is not found
        "422":
          $ref: "#/components/responses/CountryNoRegionsError"
      deprecated: false
  "/buy/countries/{country}/cities":
    get:
      tags:
        - Buy
      summary: Get a list of cities in a country
      description: Use this method to retrieve a list of cities
       for countries where `has_provinces_or_states` is `false`.
      operationId: Getalistofcitiesinacountry
      parameters:
        - name: country
          in: path
          description: Country ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
            example: 1891
        - name: text_enabled_only
          in: query
          description: Retrieve only cities with text-enabled numbers
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BuyCountriesCitiesResponse"
                  - example:
                      cities:
                        - area_code: 113
                          id: 128791
                          name: Buenos Aires
                        - area_code: 341
                          id: 132655
                          name: Rosario
                        - area_code: 351
                          id: 132656
                          name: Cordoba
                        - area_code: 381
                          id: 141803
                          name: Tucuman
                        - area_code: 387
                          id: 141986
                          name: Salta
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An object with the specified ID is not found
      deprecated: false
  "/buy/countries/{country}/regions/{region}/cities":
    get:
      tags:
        - Buy
      summary: Get a list of cities in a region
      description: Use this method to retrieve a list of cities for countries
         where `has_provinces_or_states` is `true`.
      operationId: Getalistofcitiesinaregion
      parameters:
        - name: country
          in: path
          description: Country ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
            example: 1891
        - name: region
          in: path
          description: Region ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
            example: 821
        - name: text_enabled_only
          in: query
          description: Retrieve only cities with text-enabled numbers
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BuyCountriesCitiesResponse"
                  - example:
                      cities:
                        - area_code: 113
                          id: 128791
                          name: Buenos Aires
                        - area_code: 341
                          id: 132655
                          name: Rosario
                        - area_code: 351
                          id: 132656
                          name: Cordoba
                        - area_code: 381
                          id: 141803
                          name: Tucuman
                        - area_code: 387
                          id: 141986
                          name: Salta
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An object with the specified ID is not found
      deprecated: false
  "/buy/countries/{country}/cities/{city}/dids":
    get:
      tags:
        - Buy
      summary: Get numbers available for purchase
      description: Use this method to retrieve a paginated list of phone numbers
        available for purchase.
      operationId: Getnumbersavailableforpurchase
      parameters:
        - name: country
          in: path
          description: Country ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
        - name: city
          in: path
          description: City ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
        - name: text_enabled_only
          in: query
          description: Retrieve only text-enabled numbers
          style: form
          explode: true
          schema:
            type: boolean
        - name: page
          in: query
          description: Requested page
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          description: Number of records per page
          style: form
          explode: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BuyCountriesCitiesDidsResponse"
                  - example:
                      dids:
                        - activation_fee: "15.0"
                          channels: "4"
                          city: Buenos Aires
                          cnam: false
                          country: Argentina
                          country_short_name: AR
                          domestic_cli: false
                          free_min: 0
                          id: 541139862174
                          monthly_fee: "10.0"
                          number: "541139862174"
                          per_min: "0.01"
                          require_docs: []
                          sms_enabled: false
                          sms_price: 0
                      pagination:
                        total: 1
                        total_pages: 1
                        current_page: 1
                        per_page: 50
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An object with the specified ID is not found
      deprecated: false
  /buy/cart:
    put:
      tags:
        - Cart
      summary: Add phone numbers to the cart
      description: Use this method to add phone numbers
         to the cart in your account. After adding numbers,
         you can complete the purchase by checking out the cart.
      operationId: AddDIDnumberstothecart
      parameters: []
      requestBody:
        description: Array of phone numbers to add to the cart
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - ids
              properties:
                ids:
                  type: array
                  description: Comma-separated list of numbers
                   to add to the cart
                  items:
                    type: string
                  example:
                    - "541139862174"
                    - "541139862175"
        required: true
      responses:
        "200":
          description: A list of phone numbers added to the cart
          headers: {}
          content:
            application/json:
              schema:
                type: array
                additionalProperties: false
                example:
                  - activation_fee: "15.0"
                    channels: 4
                    city: Buenos Aires
                    cnam: false
                    country: Argentina
                    country_short_name: AR
                    domestic_cli: false
                    free_min: 0
                    id: 541139862174
                    monthly_fee: "10.0"
                    number: "541139862174"
                    per_min: "0.01"
                    require_docs: []
                    sms_enabled: false
                    sms_price: "0.0"
              example:
                - activation_fee: "15.0"
                  channels: 4
                  city: Buenos Aires
                  cnam: false
                  country: Argentina
                  country_short_name: AR
                  domestic_cli: false
                  free_min: 0
                  id: 541139862174
                  monthly_fee: "10.0"
                  number: "541139862174"
                  per_min: "0.01"
                  require_docs: []
                  sms_enabled: false
                  sms_price: "0.0"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: At least one DID with ID specified in the request
                     was not found
      deprecated: false
    get:
      tags:
        - Cart
      summary: Get cart content
      description: Use this method to get a list of phone numbers
       that were previously added to the cart.
        This method does not require any parameters.
      operationId: Getcartcontent
      parameters: []
      responses:
        "200":
          description: Cart content
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BuyCartResponse"
                  - example:
                      dids:
                        - activation_fee: "15.0"
                          channels: 4
                          city: Buenos Aires
                          cnam: false
                          country: Argentina
                          country_short_name: AR
                          domestic_cli: false
                          free_min: 0
                          id: 541139862174
                          monthly_fee: "10.0"
                          number: "541139862174"
                          per_min: "0.01"
                          require_docs: []
                          sms_enabled: false
                          sms_price: "0.0"
                      doc_types:
                        - id: 1
                          name: id
                          title: Any form of ID
                        - id: 2
                          name: address
                          title: Proof of address
                        - id: 3
                          name: localaddress
                          title: Proof of local address
              example:
                dids:
                  - activation_fee: "15.0"
                    channels: 4
                    city: Buenos Aires
                    cnam: false
                    country: Argentina
                    country_short_name: AR
                    domestic_cli: false
                    free_min: 0
                    id: 541139862174
                    monthly_fee: "10.0"
                    number: "541139862174"
                    per_min: "0.01"
                    require_docs: []
                    sms_enabled: false
                    sms_price: "0.0"
                doc_types:
                  - id: 1
                    name: id
                    title: Any form of ID
                  - id: 2
                    name: address
                    title: Proof of address
                  - id: 3
                    name: localaddress
                    title: Proof of local address
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      deprecated: false
    delete:
      tags:
        - Cart
      summary: Remove numbers from the cart
      description: Use this method to remove phone numbers
       from the cart in your account.
      operationId: Removenumbersfromthecart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: Comma-separated list of phone numbers to remove
                  example:
                    - "541139862174"
                    - "541139862175"
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessfulRequest"
                  - example:
                      success: true
              example:
                success: true
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: At least one DID with ID specified
                     in the request was not found
      deprecated: false
  /buy/cart/checkout:
    post:
      tags:
        - Cart
      summary: Check out numbers
      description: >-
        Use this method to check out phone numbers currently in the cart.


        The activation and monthly fee will be automatically
         deducted from your balance. Ensure you have sufficient
          funds on your account or a primary card linked with
           enough balance to complete the purchase.
      operationId: CheckoutDIDnumbers
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - ids
              properties:
                ids:
                  type: array
                  description: List of phone numbers to check out from the cart
                  items:
                    type: string
                  example:
                    - "541139862174"
                    - "541139862175"
        required: true
      responses:
        "201":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/OperationSuccessfulRepose"
                  - example:
                      success: true
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: At least one DID with ID specified
                     in the request was not found
      deprecated: false
  /mydids:
    get:
      tags:
        - My numbers
      summary: Get numbers on the account
      description: Use this method to list phone numbers on your account.
       By default, results are paginated with 25 records per page.
      operationId: GetDIDsontheaccount
      parameters:
        - name: city_id
          in: query
          description: Filter numbers by city or rate center.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 123
        - name: search
          in: query
          description: Filter numbers by digits in the phone number.
           You can provide a full number or part of it.
          style: form
          explode: true
          schema:
            type: string
            example: "256537"
        - name: label
          in: query
          description: Filter phone numbers by label.
           Only exact matches are returned.
          style: form
          explode: true
          schema:
            type: string
            example: ALEX
        - name: label_present
          in: query
          description: If true, returns only phone numbers with a label.
           If false, returns only phone numbers without a label.
            When this parameter is used, the `label` parameter is ignored.
          style: form
          explode: true
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          description: Requested page
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 2
        - name: per_page
          in: query
          description: The number of records per page
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 50
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MydidsResponse"
      deprecated: false
    delete:
      tags:
        - My numbers
      summary: Return numbers to stock
      description: Use this method to return phone numbers to stock.
      operationId: ReturnDIDstostock
      parameters:
        - name: ids
          in: query
          description: An array of phone number IDs to release from your account
          required: false
          schema:
            type: array
            items:
              type: integer
            example:
              - 47832123321
              - 47832123324
              - 478321233215
          style: form
          explode: true
        - name: dids
          in: query
          description: A comma-separated string of phone numbers
           to release from your account
            (e.g., "47832123321,47832123324,47832123325")
          required: false
          schema:
            type: string
            example: 47832123321,47832123324,478321233215
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/OperationSuccessfulRepose"
                  - example:
                      success: true
              example:
                success: true
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          description: Did not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: DID with id=1848 not found
      deprecated: false
  "/mydids/{id}":
    get:
      tags:
        - My numbers
      summary: Get a specific number details
      description: Use this method to get a specific phone number details.
      operationId: GetaspecificDID
      parameters:
        - name: id
          in: path
          description: Phone number ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
            example: 123
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DIDontheAccount"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      deprecated: false
    put:
      tags:
        - My numbers
      summary: Update a specific number
      description: Use this method to update a specific phone number
       configuration settings.
      operationId: UpdateaspecificDID
      parameters:
        - name: id
          in: path
          description: Phone number ID
          required: true
          style: simple
          schema:
            type: integer
            format: int32
            example: 123
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                call_recording_enabled:
                  type: boolean
                  description: Turn call recording on or off for the number.
                  example: true
                transcription_enabled:
                  type: boolean
                  description: Turn transcription on or off for the number.
                  example: true
                transcription_threshold:
                  type: integer
                  description: Transcription threshold, in seconds.
                  example: 30
                sms_relay_url:
                  type: string
                  description: >-
                    SMS relay URL for the number.
                     Incoming SMS and MMS messages will be sent
                      to this URL as HTTP POST requests.
                      If the number isn't SMS-enabled,
                       setting the `sms_relay_url`
                       returns the `HTTP 422 Unprocessable Content` error.

                    To remove inbound message routing for this number,
                     set the value to `null`.
                      Messages will then be forwarded only to
                      the `sms_relay_url` configured on the account.
                  example: https://you-site.com/sms
                call_status_url:
                  type: string
                  description: Call status callback URL for the number.
                   Status updates are sent to
                    this URL as HTTP POST requests.
                  example: https://your-site.com/calls
        required: false
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DIDontheAccount"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      deprecated: false
  /mydids/update-sms-enabled:
    put:
      tags:
        - My numbers
      summary: SMS-enable a specific number
      description: >-
        Use this method to enable or disable inbound SMS support on a
        specific phone number.


        **Note**: Inbound SMS can only be activated on US and CA numbers.
      operationId: UpdateSMSenabledstatusforaDID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - sms_enabled
                - id
              properties:
                sms_enabled:
                  type: boolean
                  description: Turn inbound SMS support on or off
                   for the number.
                  example: true
                id:
                  type: integer
                  format: int32
                  example: 123
                  description: Phone number ID.
        required: false
      responses:
        "200":
          description: Inbound SMS support turned on or off successfully.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
              example:
                success: true
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          description: Inbound SMS can only be activated on
           US and CA phone numbers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Inbound SMS can only be activated
                     on US and CA phone numbers
      deprecated: false
  /mydids/update-destinations:
    post:
      tags:
        - My numbers
      summary: Update inbound call destinations
      description: >-
        Use this method to update inbound call routing for phone numbers.
        You can route calls to a SIP URI, PSTN number, or SIP trunk on the
        platform. This method allows you to add multiple inbound call
        destinations for a phone number.


        Destinations for several phone numbers can be updated
         with a single request.
      operationId: UpdateDIDdestinations
      parameters: []
      requestBody:
        description: Inbound call routing to be configured
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/MydidsUpdateDestinationsRequest"
                - description: Inbound call routing to be configured
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/OperationSuccessfulRepose"
                  - example:
                      success: true
              example:
                success: true
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Request failed. An object with the specified
           ID is not found.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotFoundException"
              example:
                success: false
                message: Request failed. An object with the specified
                 ID is not found.
      deprecated: false
  /mydids/papers:
    post:
      tags:
        - My numbers
      summary: Upload a document for numbers
      description: |-
        Use this method to upload a document for one or more phone numbers.
        Uploaded files must meet the following requirements:
        - Allowed formats: PNG, JPG, JPEG, TIFF, BMP, or PDF
        - Maximum file size: 10 MB
        - Files can't be password protected
        - PDF files must not contain digital signatures
      operationId: UploadadocumentfortheDID
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            encoding: {}
            schema:
              required:
                - did_ids
                - doc_attachment
                - doc_id
              type: object
              additionalProperties: false
              properties:
                did_ids:
                  type: string
                  description: A comma-separated list of phone number IDs
                   the document applies to.
                  example: "2321"
                doc_attachment:
                  type: string
                  description: Path to the document to be uploaded.
                  format: binary
                doc_id:
                  $ref: "#/components/schemas/Documenttypes"
        required: false
      responses:
        "200":
          description: Document uploaded successfully.
           The response includes a list of
            documents uploaded for the specified phone numbers.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    allow_replace:
                      type: boolean
                      description: Indicates whether the document
                       can be replaced.
                      example: false
                    did_number:
                      type: string
                      description: Phone number the document was applied to.
                      example: "+14062355770"
                    doc_content_type:
                      type: string
                      description: MIME type of the uploaded document.
                      example: image/png
                    doc_file_name:
                      type: string
                      description: Name of the uploaded document.
                      example: user-id-card.png
                    doc_type_id:
                      $ref: "#/components/schemas/Documenttypes"
                    id:
                      type: integer
                      description: Document ID.
                      example: 101
                    status:
                      type: string
                      description: Document review status.
                      example: pending
                    url:
                      type: string
                      description: URL to access the uploaded document
                      example: https://api.wavix.com/v1/mydids/1001/papers/101
              example:
                - id: 101
                  allow_replace: false
                  did_number: "+14062355770"
                  doc_content_type: image/png
                  doc_file_name: user-id-card.png
                  doc_type_id: 1
                  status: pending
                  url: https://api.wavix.com/v1/mydids/1001/papers/101
                - id: 102
                  allow_replace: true
                  did_number: "+14062355771"
                  doc_content_type: application/pdf
                  doc_file_name: driver-license.pdf
                  doc_type_id: 2
                  status: approved
                  url: https://api.wavix.com/v1/mydids/1002/papers/102
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      deprecated: false
  /cdr:
    get:
      tags:
        - CDRs
      summary: Get CDRs on the account
      description: Use this method to retrieve a list of CDRs
       for inbound and outbound calls.
        The records can be filtered by date, phone number,
         destination or call type.
          By default, the results are paginated, with 25 records per
        page.
      operationId: GetCDRsontheaccount
      parameters:
        - name: from
          in: query
          description: Start date of your search time range, in `yyyy-mm-dd`
           format
          required: true
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2023-01-01
        - name: to
          in: query
          description: End date of your search time range, in `yyyy-mm-dd`
           format.
          required: true
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2023-09-01
        - name: type
          in: query
          description: Use `placed` to get CDRs for outbound calls or `received`
           for inbound calls.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: received
        - name: disposition
          in: query
          description: Filter calls by disposition. In case the parameter is not
            specified, only answered calls are returned. To get all calls
            regardless their disposition pass `all` as the parameter value
          style: form
          explode: true
          schema:
            allOf:
              - $ref: "#/components/schemas/Calldisposition"
              - description: Filter calls by disposition. In case the parameter
                 is not specified, only answered calls are returned.
                  To get all calls regardless their disposition
                   pass `all` as the parameter value
        - name: from_search
          in: query
          description: Filter results by the originating phone number.
           The parameter can be either full phone number or a part of it.
          style: form
          explode: true
          schema:
            type: string
            example: "13524815863"
        - name: to_search
          in: query
          description: Filter results by destination phone number.
           The parameter can be either full phone number or a part of it.
          style: form
          explode: true
          schema:
            type: string
            example: "12565378257"
        - name: sip_trunk
          in: query
          description: Filter results by the unique SIP trunk login used
           to place an outbound call. For inbound calls,
            this parameter is ignored.
          style: form
          explode: true
          schema:
            type: string
            example: "12321"
        - name: uuid
          in: query
          description: Filter results by Call ID
          style: form
          explode: true
          schema:
            type: string
            example: 99df5ffd-962a-410f-bcce-d08f1f7f328c
        - name: page
          in: query
          description: Requested page
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: per_page
          in: query
          description: Number of records per page
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            default: 25
            example: 25
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CdrResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
      deprecated: false
    post:
      tags:
        - CDRs
      summary: Search for calls containing specific keywords or phrases
      description: >-
        Use this method to search for call transcriptions containing
        specific keywords or phrases. Wavix automatically labels speakers as an
        agent and a customer based on the call direction. You can search for
        phrases said by an agent, a customer, or both.


        By default, the results are paginated, with 25 records per page.
      operationId: Searchforcallscontainingspecifickeywordsorphrases
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CdrRequest"
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CDRswithtranscription"
      deprecated: false
  "/cdr/{cdr_uuid}/retranscribe":
    put:
      tags:
        - CDRs
      summary: Transcribe a single call
      description: >-
        Use this method to submit a specific call recording for
        transcription.


        The processing time depends on the call length and the number
         of recordings in the queue.  Most calls are transcribed within
          10 minutes. To receive a notification when the transcription
           completed, provide a webhook address in the `webhook_url` parameter.
            Wavix will send a status update to this address.


        The method responses with the `HTTP 200 OK` status code and no content.
         After the transcription is completed, the service sends
          a POST callback to the specified webhook:

        ```json
          {
           "uuid": "123",
           "status": "completed"
          }
        ```

        - uuid - the unique identifier of the recorded call

        - status - status of the operation. Can be either `completed`
         indicating the recorded call was successfully transcribed or
          `failed` which indicates that there was an error
           while transcribing the call.
      operationId: Transcribeasinglecall
      parameters:
        - name: cdr_uuid
          in: path
          description: Unique identifier of a call
          required: true
          style: simple
          schema:
            type: string
            example: bbaa37bf-430a-46da-ade3-c248e407016
      requestBody:
        description: Transcribe a call request
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/CdrRetranscribeRequest"
                - description: Transcribe a call request
        required: true
      responses:
        "200":
          description: Indicates successful request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  success:
                    type: boolean
                    example: true
                required:
                  - success
              example:
                success: true
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/ValidationError"
      deprecated: false
  "/cdr/{cdr_uuid}/transcription":
    get:
      tags:
        - CDRs
      summary: Request transcription for a specific call
      description: >
        Use this method to retrieve transcription for a specific recorded
        call.


        The response contains a JSON object with an array of `turn` objects.

        Each `turn` contains:
        - The text spoken by a particular speaker
        - The start and end times for that text,
         calculated from the moment the call was answered


        For convenience, the response also provides
         the full text for each speaker.
      operationId: Requesttranscriptionforaspecificcall
      parameters:
        - name: cdr_uuid
          in: path
          description: Unique identifier of a call
          required: true
          style: simple
          schema:
            type: string
            example: bbaa37bf-430a-46da-ade3-c248e407016
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Calltranscription"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      deprecated: false
  "/cdr/{uuid}":
    get:
      tags:
        - CDRs
      summary: Get details of a specific call
      description: Use this method to retrieve specific outbound or inbound call details.
      operationId: Getcalldetailsofaspecificcall
      parameters:
        - name: uuid
          in: path
          description: Unique identifier of a call
          required: true
          style: simple
          schema:
            type: string
            example: aa566501-c591-4a8b-b3b9-cc1295398b72
        - name: show_transcription
          in: query
          description: Include transcription information in the response
          style: form
          explode: true
          schema:
            type: boolean
            example: true
      responses:
        "200":
          description: Specific call details
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GetCdrResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
      deprecated: false
  /cdr/all:
    get:
      tags:
        - CDRs
      summary: Get CDRs in NDJSON format
      description: Use this method to retrieve Call Detail Records (CDRs) in
        Newline-Delimeted JSON (NDJSON) format. Useful for bulk data export.
      operationId: GetallCDRrecordsasNDJSONstream
      parameters:
        - name: from
          in: query
          description: Start date of your search time range,
           in  `yyyy-mm-dd` format
          required: true
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2023-01-01
        - name: to
          in: query
          description: End date of your search time range,
           in `yyyy-mm-dd` format.
          required: true
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2023-09-01
        - name: type
          in: query
          description: Use `placed` to get CDRs for outbound calls or `received`
           for inbound calls.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: received
        - name: disposition
          in: query
          description: Filter calls by disposition. In case the parameter is not
            specified, only answered calls are returned. To get all calls
            regardless their disposition pass `all` as the parameter value
          style: form
          explode: true
          schema:
            allOf:
              - $ref: "#/components/schemas/Calldisposition"
              - description: Filter calls by disposition. In case the parameter is not
                  specified, only answered calls are returned. To get all calls
                  regardless their disposition pass `all` as the parameter value
        - name: from_search
          in: query
          description: Filter results by the originating phone number. The parameter can
            be either full phone number or a part of it.
          style: form
          explode: true
          schema:
            type: string
            example: "13524815863"
        - name: to_search
          in: query
          description: Filter results by destination phone number. The parameter can be
            either full phone number or a part of it.
          style: form
          explode: true
          schema:
            type: string
            example: "12565378257"
        - name: sip_trunk
          in: query
          description: Filter results by the unique SIP trunk login used to place an
            outbound call. For inbound calls, this parameter is ignored.
          style: form
          explode: true
          schema:
            type: string
            example: "12321"
        - name: uuid
          in: query
          description: Filter results by Call ID
          style: form
          explode: true
          schema:
            type: string
            example: 99df5ffd-962a-410f-bcce-d08f1f7f328c
        - name: page
          in: query
          description: Requested page
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: per_page
          in: query
          description: Number of records per page
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            default: 25
            example: 25
      responses:
        "200":
          description: Streaming NDJSON response with CDR records.
          headers:
            Content-Type:
              description: application/x-ndjson
              schema:
                type: string
                example: application/x-ndjson
            Last-Modified:
              description: Last modified timestamp
              schema:
                type: string
                example: "0"
            ETag:
              description: Entity tag
              schema:
                type: string
                example: "0"
          content:
            application/x-ndjson:
              schema:
                type: string
                description: NDJSON stream of CDR records, one JSON object per line
              example: >-
                {"charge":"0.0059","date":"2023-08-28T15:43:31.000Z","destination":"My
                trunk","disposition":"answered","duration":26,"forward_fee":"0.0","from":"13524815863","per_minute":"0.0059","to":"12565378257","uuid":"99df5ffd-962a-410f-bcce-d08f1f7f328c"}

                {"charge":"0.00325","date":"2023-11-29T14:48:50.000Z","destination":"United States","disposition":"answered","duration":21,"from":"17182444444","per_minute":"0.0065","to":"18007009909","uuid":"aa566501-c591-4a8b-b3b9-cc1295398b72","forward_fee":"0.003"}
        "403":
          $ref: "#/components/responses/ForbiddenError"
      deprecated: false
  /recordings:
    get:
      tags:
        - Call recording
      summary: List call recordings
      description: Use this method to retrieve a list of call recordings. By default,
        the results are paginated, with 25 records per page.
      operationId: Getcallrecordings
      parameters:
        - name: from_date
          in: query
          description: Start date of your search time range, in `yyyy-mm-dd` format.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2023-01-01
        - name: to_date
          in: query
          description: End date of your search time range, in `yyyy-mm-dd` format.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2023-12-31
        - name: from
          in: query
          description: Filter results by Caller ID.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: "1234567890"
        - name: to
          in: query
          description: Filter results by destination phone number. The parameter can be
            either full phone number or a part of it.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: "1987654321"
        - name: call_uuid
          in: query
          description: Filter results by call ID.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: aa566501-c591-4a8b-b3b9-cc1295398b72
        - name: sip_trunks
          in: query
          description: Filter results by SIP trunk IDs.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - "123"
              - "456"
        - name: dids
          in: query
          description: Filter results by DIDs
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - "12344213"
      responses:
        "200":
          description: A list of recorded calls matching the filter criteria.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  recordings:
                    type: array
                    items:
                      $ref: "#/components/schemas/CallRecordingResponse"
                  invalid:
                    type: object
                    items:
                      $ref: "#/components/schemas/InvalidRecordingResponse"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      deprecated: false
  "/recordings/{cdr_uuid}":
    get:
      tags:
        - Call recording
      summary: Get a specific call recording
      description: Use this method to retrieve a specific call recording.
      operationId: Getcallrecordingbycdruuid
      parameters:
        - name: cdr_uuid
          in: path
          description: Call ID.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: aa566501-c591-4a8b-b3b9-cc1295398b72
      responses:
        "200":
          description: Redirects to the recording file URL.
          headers:
            Location:
              description: URL to the recording file
              schema:
                type: string
                example: https://api.wavix.com/v1/recordings/uuid
        "400":
          description: Recording was deleted
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: deleted due to the retention policy settings
                  deleted_at:
                    type: string
                    format: date-time
                    example: 2023-06-15T10:30:00Z
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      deprecated: false
  "/recordings/{id}":
    delete:
      tags:
        - Call recording
      summary: Delete a specific recording
      description: Use this method to delete a specific recording.
      operationId: Deletecallrecording
      parameters:
        - name: id
          in: path
          description: Call recording ID
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
            example: 123
      responses:
        "200":
          description: The recording was deleted successfully.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
              example:
                success: true
        "400":
          description: Recording was previously deleted.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: deleted by user
                  deleted_at:
                    type: string
                    format: date-time
                    example: 2023-06-15T10:30:00Z
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      deprecated: false
  /speech-analytics:
    post:
      tags:
        - Speech Analytics
      summary: Upload a file for transcription
      description: >
        Use this method to upload a file and submit it for transcription.
        When the transcription is completed, Wavix sends a POST callback to the
        webhook specified in the request.

         Callback example:
           ```json
           {
                "request_id": "e865ea07-25af-4fdd-876e-04b0d41d5ebd",
                "status": "completed",
                "error": null
              }
           ```
          - request_id - the unique identifier of the transcription request
          - status - status of the operation. Can be either `completed` indicating the file was successfully transcribed or `failed` which indicates that there was an error while transcribing the file.
          - error - in case the transcription failed, this field contains a description of the error that occurred. If the transcription was successful, this field is null.
      operationId: Submitafilefortranscription
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            encoding: {}
            schema:
              required:
                - file
                - callback_url
              type: object
              additionalProperties: false
              properties:
                file:
                  type: string
                  description: Binary file content to submit for transcription. The file must be
                    25 MB or less. Only WAV, MP3, and MP4 stereo files are
                    supported.
                  format: binary
                callback_url:
                  type: string
                  description: Webhook URL where transcription status updates are sent
                  example: https://you-site.com/webhook
                insights:
                  type: boolean
                  description: Enable insights generation for the transcription
                  example: true
        required: false
      responses:
        "200":
          description: The file successfully submitted
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SubmitaFileforTranscriptionResponse"
                  - example:
                      file: file.mp3
                      request_id: e865ea07-25af-4fdd-876e-04b0d41d5ebd
                      success: true
              example:
                file: file.mp3
                request_id: e865ea07-25af-4fdd-876e-04b0d41d5ebd
                success: true
        "400":
          description: Invalid parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Request failed. Missing or invalid parameter <param_name>
        "422":
          description: The callback_url must be a valid URL address
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: The callback_url must be a valid URL address
      deprecated: false
  "/speech-analytics/{uuid}":
    get:
      tags:
        - Speech Analytics
      summary: Query a specific transcription
      description: Use this method to retrieve a specific file transcription.
      operationId: Queryaspecifictranscription
      parameters:
        - name: uuid
          in: path
          description: Transcription request ID
          required: true
          style: simple
          schema:
            type: string
            example: e865ea07-25af-4fdd-876e-04b0d41d5ebd
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/FileTranscription"
                  - example:
                      transcript:
                        channel_1: Hi there
                        channel_2: Hello
                      turns:
                        - speaker: channel_1
                          s: 600
                          e: 700
                          text: Hi
                          sentiment: positive
                      request_id: e84f350f-6da7-4b56-80eb-41dec572626b
                      language: en
                      duration: 102
                      charge: "0.01"
                      status: completed
                      transcription_date: 2023-01-09T10:04:39.734Z
                      transcription_score: "3.8"
                      transcription_summary: The agent and client discussed call recording and call
                        transcription
                      original_file: https://api.wavix.com/v1/files/uuid
              example:
                transcript:
                  channel_1: Hi there
                  channel_2: Hello
                turns:
                  - speaker: channel_1
                    s: 600
                    e: 700
                    text: Hi
                    sentiment: positive
                request_id: e84f350f-6da7-4b56-80eb-41dec572626b
                language: en
                duration: 102
                charge: "0.01"
                status: completed
                transcription_date: 2023-01-09T10:04:39.734Z
                transcription_score: "3.8"
                transcription_summary: The agent and client discussed call recording and call
                  transcription
                original_file: https://api.wavix.com/v1/files/uuid
        "202":
          description: Transcription is still pending
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: The transcription is still pending
              example:
                success: true
                message: The transcription is still pending
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Request failed. An object with the specified ID is not found.
      deprecated: false
    put:
      tags:
        - Speech Analytics
      summary: Retranscribe an uploaded file
      description: Use this method to retranscribe an uploaded audio file.
      operationId: Retranscribeaudiofile
      parameters:
        - name: uuid
          in: path
          description: Unique identifier of the transcription request
          required: true
          style: simple
          schema:
            type: string
            example: e865ea07-25af-4fdd-876e-04b0d41d5ebd
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - callback_url
              properties:
                callback_url:
                  type: string
                  description: Webhook URL where transcription status updates are sent
                  example: https://you-site.com/webhook
                insights:
                  type: boolean
                  description: Enable insights generation for the transcription
                  example: true
        required: false
      responses:
        "200":
          description: Request successfully submitted
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
              example:
                success: true
        "400":
          description: Request failed. Missing or invalid parameter <param_name>
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Request failed. Missing or invalid parameter <param_name>
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Request failed. An object with the specified ID is not found.
        "422":
          description: The callback_url must be a valid URL address
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: The callback_url must be a valid URL address
      deprecated: false
  "/speech-analytics/{uuid}/file":
    get:
      tags:
        - Speech Analytics
      summary: Retrieve the original file
      description: Use this method to retrieve the original file that was submitted
        for transcription.
      operationId: Gettranscriptionfile
      parameters:
        - name: uuid
          in: path
          description: Unique identifier of the transcription request
          required: true
          style: simple
          schema:
            type: string
            example: e865ea07-25af-4fdd-876e-04b0d41d5ebd
      responses:
        "200":
          description: ""
          content:
            audio/wav:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
            audio/mp4:
              schema:
                type: string
                format: binary
        "404":
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Request failed. An object with the specified ID is not found.
      deprecated: false
  /call/webhooks:
    get:
      tags:
        - Call webhooks
      summary: List configured webhooks
      description: >-
        Use this method to retrieve a list of configured call webhooks.


        Wavix sends POST callbacks to your webhook URL for on-call and post-call events.

        - The `on-call` callback includes real-time call status updates. It's triggered when a call is initiated, answered, and ends.

        - The `post-call` callback includes details such as call disposition, duration, and cost. It's triggered after the call ends.
      operationId: Getcallwebhooks
      parameters: []
      responses:
        "200":
          description: A list of webhooks
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCallWebhookResponse"
              example:
                - event_type: post-call
                  url: https://you-site.com/voice/post-call/webhook
                - event_type: on-call
                  url: https://you-site.com/voice/on-call/webhook
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      deprecated: false
    post:
      tags:
        - Call webhooks
      summary: Create a webhook
      description: >-
        Use this method to create a call webhook.


        Wavix sends POST callbacks to your webhook URL for on-call and post-call events.

        - Use `on-call` webhook to receive real-time call status updates. It's triggered when a call is initiated, answered, and ends.

        - The `post-call` webhook is triggered after the call ends. The callback includes details such as call disposition, duration, and cost.
      operationId: Createcallwebhook
      parameters: []
      requestBody:
        description: Webhook configuration
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - url
                - event_type
              properties:
                url:
                  type: string
                  format: uri
                  description: Webhook URL to send call events to.
                  example: https://you-site.com/webhook
                event_type:
                  type: string
                  description: >-
                    Use `on-call` to receive real-time status updates. Callbacks are
                    sent when the call is initiated, answered, and ended.

                    Use `post-call` to receive a callback after the call ends. The callback includes details such as call disposition, duration, and cost.
                  enum:
                    - post-call
                    - on-call
                  example: post-call
              example:
                url: https://you-site.com/webhook
                event_type: post-call
        required: true
      responses:
        "201":
          description: Webhook successfully created
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallWebhookResponse"
              example:
                success: true
                event_type: post-call
                url: https://you-site.com/webhook
        "400":
          description: Request failed. Missing or invalid parameter
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Missing or invalid parameter url
              example:
                message: Missing or invalid parameter url
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      deprecated: false
    delete:
      tags:
        - Call webhooks
      summary: Delete a webhook
      description: Use this method to delete a call webhook configuration.
      operationId: Deletecallwebhook
      parameters:
        - name: event_type
          in: query
          description: Type of call events webhook to delete
          required: true
          style: form
          explode: true
          schema:
            type: string
            enum:
              - post-call
              - on-call
            description: |-
              Use `post-call` to stop receiving post-call callbacks.
              Use `on-call` to stop receiving real-time call status updates.
            example: post-call
      responses:
        "200":
          description: Webhook successfully deleted
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
              example:
                success: true
        "400":
          description: Request failed. Missing or invalid parameter
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Missing or invalid parameter event_type
              example:
                message: Missing or invalid parameter event_type
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          $ref: "#/components/responses/ValidationError"
      deprecated: false
  /call:
    post:
      tags:
        - Call control
      summary: Start a new call
      description: Use this method to start a new outbound call.
      operationId: StartCall
      parameters: []
      requestBody:
        description: Call parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CallRequest"
        required: true
      responses:
        "200":
          description: Call started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation error
                  errors:
                    type: object
                    properties:
                      to:
                        type: string
                        example: required
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access Denied
      deprecated: false
    get:
      tags:
        - Call control
      summary: Fetch active calls
      description: Use this method to retrieve all active calls on your account.
      operationId: GetUserCalls
      parameters: []
      responses:
        "200":
          description: A list of active calls
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallsInfoResponse"
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access Denied
      deprecated: false
  "/call/{uuid}":
    get:
      tags:
        - Call control
      summary: Get a specific call details
      description: Use this method to retrieve a specific call details.
      operationId: GetUserCall
      parameters:
        - name: uuid
          in: path
          description: Call ID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Call details successfully retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCallResponse"
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access Denied
        "404":
          description: Call not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Call not found
      deprecated: false
    delete:
      tags:
        - Call control
      summary: End a call
      description: Use this method to end an active call.
      operationId: TerminateCall
      parameters:
        - name: uuid
          in: path
          description: Call ID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Call successfully ended.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access Denied
        "404":
          description: Call not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Call 5dccb6b0-f35c-488c-867b-86fb01c4415 not found
      deprecated: false
  "/call/{uuid}/answer":
    post:
      tags:
        - Call control
      summary: Answer an inbound call
      description: >-
        Use this method to programmatically answer an inbound call. Make
        sure you've configured the inbound call webhook on a number using
        [API](/api-reference/my-numbers/update-a-specific-number) or GUI. If
        configured, Wavix posts call status updates to the webhook associated
        with the number.


        Optionally, you can immediately start call media streaming when the inbound call is answered. To start streaming, paste the following JSON in the request body. Wavix will start media streaming to a WebSocket URL specified in the request.

        ```json

        {
          "stream_channel": "inbound",
          "stream_type": "twoway",
          "stream_url": "wss://your-websocket-server-url-and-port"
        }

        ```
      operationId: AnswerCall
      parameters:
        - name: uuid
          in: path
          description: Call ID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Answer call request parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnswerCallRequest"
        required: true
      responses:
        "200":
          description: Call successfully answered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation error
                  errors:
                    type: object
                    properties:
                      stream_url:
                        type: string
                        example: Stream URL must be a valid WebSocket URL (ws:// or wss://)
                      stream_type:
                        type: string
                        example: Stream type must be 'oneway' or 'twoway'
                      stream_channel:
                        type: string
                        example: Stream channel must be 'inbound', 'outbound', or 'both'
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access Denied
        "404":
          description: Call not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Call with ID=5dcb6b0-f35c-488c-867b-86fb012c4415 not found
      deprecated: false
  "/call/{uuid}/streams":
    post:
      tags:
        - Call control
      summary: Start call streaming
      description: >-
        Use this method to start call streaming.
         Wavix Call Media Streaming allows you to stream inbound (to Wavix),
          outbound (from Wavix), or both channels.
           Wavix also supports unidirectional streaming when your WebSocket
            only receives media from the platform, and bi-directional
        streaming when your WebSocket can send back audio and commands to Wavix.


        **Note**. You can have up to 5 unidirectional streams for a call.
         Only one bi-directional stream can be created.
      operationId: StartCallStreaming
      parameters:
        - name: uuid
          in: path
          description: Call ID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Streaming configuration
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamCallRequest"
        required: true
      responses:
        "200":
          description: Streaming started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartCallStreamingResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation error
                  errors:
                    type: object
                    properties:
                      stream_url:
                        type: string
                        example: Stream URL must be a valid WebSocket URL (ws:// or wss://)
                      stream_type:
                        type: string
                        example: Stream type must be 'oneway' or 'twoway'
                      stream_channel:
                        type: string
                        example: Stream channel must be 'inbound', 'outbound', or 'both'
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access Denied
      deprecated: false
  "/call/{uuid}/streams/{stream_uuid}":
    delete:
      tags:
        - Call control
      summary: Stop call streaming
      description: Use this method to stop call media streaming.
      operationId: DeleteCallStream
      parameters:
        - name: uuid
          in: path
          description: Call ID.
          required: true
          schema:
            type: string
            format: uuid
        - name: stream_uuid
          in: path
          description: Stream ID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Stream successfully stopped.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCallStreamResponse"
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access Denied
      deprecated: false
  "/call/{uuid}/play":
    post:
      tags:
        - Call control
      summary: Play audio during a call
      description: Use this method to play an audio in an active call.
      operationId: PlayAudio
      parameters:
        - name: uuid
          in: path
          description: Call ID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Audio playback parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlayAudioRequest"
        required: true
      responses:
        "200":
          description: Audio playback successfully started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation error
                  errors:
                    type: object
                    properties:
                      audio_file:
                        type: string
                        example: required
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access denied
        "404":
          description: Call not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: call not found
      deprecated: false
  "/call/{uuid}/audio":
    delete:
      tags:
        - Call control
      summary: Stop audio playback
      description: Use this method to stop audio that's currently playing in an active call.
      operationId: StopAudio
      parameters:
        - name: uuid
          in: path
          description: Call ID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Audio playback successfully stopped.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access denied
        "404":
          description: Call not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Call not found
      deprecated: false
  "/call/{uuid}/collect":
    post:
      tags:
        - Call control
      summary: Collect DTMF input
      description: Use this method to collect DTMF (dual-tone multi-frequency) input
        in an active call.
      operationId: CollectDtmf
      parameters:
        - name: uuid
          in: path
          description: Call ID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: DTMF collection parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectDtmfRequest"
        required: true
      responses:
        "200":
          description: DTMF collection successfully started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid JSON format
        "401":
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access denied
        "404":
          description: Call not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Call not found
      deprecated: false
  /webrtc/tokens:
    post:
      tags:
        - Wavix Embeddable
      summary: Generate a Wavix Embeddable Widget token
      description: Use this method to generate a Wavix Embeddable Widget token for SIP
        trunk integration.
      operationId: GenerateWidgetToken
      parameters: []
      requestBody:
        description: Widget token generation parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateWidgetTokenRequest"
        required: true
      responses:
        "201":
          description: Widget token generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WidgetTokenResponse"
[...]
